@import "../../variables/variables.scss";
.private-layout {
  .ant-page-header {
    background-color: $pageHeaderBackground;
    padding: 10px 20px;
    display: none;
    @include atMedium {
      display: block;
    }

    .ant-page-header-heading {
      width: 100%;
      display: inherit;

      .ant-page-header-heading-left {
        width: 100%;
        display: inherit;

        .ant-page-header-heading-title {
          display: flex;
          gap: 10px;
          align-items: center;

          .ant-page-header-icon {
            border: 3px solid $mainIcon;
            border-radius: 100%;
            width: 70px !important;
            min-width: 70px !important;
            height: 70px !important;
            display: flex;
            justify-content: center;
            align-items: center;

            .anticon {
              font-size: 32px;
              color: $mainIcon !important;
            }

            svg {
              font-size: 32px;

              path {
                color: $mainIcon;
              }
            }
          }

          .ant-page-header-text {
            display: flex;
            flex-direction: column;
            align-items: flex-start;

            .sub-title {
              color: $color16;
              text-transform: none;
              font-size: 18px;
              font-weight: 500;
              line-height: 1em;
              margin-left: 2px;
            }
            .title {
              color: $mainIcon;
              font-size: 22px;
              font-weight: normal;
              @include atExtraSmall {
                font-size: 32px;
              }
            }
          }
        }
      }
    }
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .private-layout .ant-page-header {
    padding: 10px;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
