@import "../../variables/variables.scss";
.private-layout {
	.ant-page-header {
		background-color: $pageHeaderBackground;
		border-top: 1px solid $pageHeaderBorderColor;
		border-bottom: 1px solid $pageHeaderBorderColor;
		padding: 10px 20px;

		.ant-page-header-heading {
			width: 100%;
			display: inherit;

			.ant-page-header-heading-left {
				width: 100%;
				display: inherit;

				.ant-page-header-heading-title {
					display: flex;
					gap: 10px;
					align-items: center;

					.ant-page-header-icon {
						border: 3px solid $pageHeaderIconBorderColor;
						border-radius: 100%;
						width: 70px !important;
						height: 70px !important;
						display: flex;
						justify-content: center;
						align-items: center;

						.anticon {
							font-size: 32px;
							color: $pageHeaderIconColor !important;
						}

						svg {
							font-size: 32px;

							path {
								color: $pageHeaderIconColor;
							}
						}
					}

					.ant-page-header-text {
						display: flex;
						flex-direction: column;
						align-items: flex-start;

						.sub-title {
							color: $pageHeaderColorSubTitle;
							text-transform: none;
							font-size: 14px;
							font-weight: 500;
							line-height: 1em;
						}
						.title {
							color: $pageHeaderColorTitle;
							font-size: 32px;
							font-weight: normal;
						}
					}
				}
			}
		}
	}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Mobile Devices */
@media (max-width: 575px) {
	.private-layout .ant-page-header {
		padding: 10px;
	}
	.private-layout
		.ant-page-header
		.ant-page-header-heading
		.ant-page-header-heading-left
		.ant-page-header-heading-title
		.ant-page-header-icon {
		width: 55px !important;
		height: 55px !important;
		padding: 10px;
	}

	.private-layout
		.ant-page-header
		.ant-page-header-heading
		.ant-page-header-heading-left
		.ant-page-header-heading-title
		.ant-page-header-icon
		svg {
		font-size: 28px;
	}
	.private-layout
		.ant-page-header
		.ant-page-header-heading
		.ant-page-header-heading-left
		.ant-page-header-heading-title
		.ant-page-header-text
		.sub-title {
		font-size: 12px;
	}
	.private-layout
		.ant-page-header
		.ant-page-header-heading
		.ant-page-header-heading-left
		.ant-page-header-heading-title
		.ant-page-header-text
		.title {
		font-size: 25px;
	}
}

@media (max-width: 480px) {
}

@media (max-width: 375px) {
}

@media (max-width: 320px) {
}
