.private-layout > .ant-layout > .ant-layout-header {
  background-color: #027273;
  width: 100%;
  height: 100px;
  padding: 0px 20px 0px 0px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-left-menu,
.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu {
  width: 50%;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-left-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-left-menu .ant-menu-submenu-left-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-left-menu .ant-menu-submenu-left-menus svg {
  color: #ffffff;
  font-size: 22px;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon.ant-menu-left-icon-menu-collapse-on-close {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px 20px;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon.ant-menu-left-icon-menu-collapse-on-close svg {
  font-size: 28px;
  color: #13f4f1;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon:not(.ant-menu-left-icon-menu-collapse-on-close)
a {
  width: 130px;
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  gap: 8px;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon:not(.ant-menu-left-icon-menu-collapse-on-close)
a:hover {
  background: #358e8f;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon:not(.ant-menu-left-icon-menu-collapse-on-close)
a:hover .ant-typography {
  font-weight: 600;
  color: #ffffff;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon
a
.anticon {
  color: #13f4f1;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon
a
svg {
  color: #13f4f1;
  font-size: 42px;
  stroke: #13f4f1;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon
a
svg
path {
  color: #13f4f1;
  stroke: #13f4f1;
}

.private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon
a
.ant-typography {
  line-height: 1em;
  color: #bdbec0;
}

.ant-header-right-menu > .ant-image {
  width: 50px;
  height: 50px;
  border-radius: 50%;
  border: 2px solid #13f4f1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  overflow: hidden;
  background: #fff;
}

.ant-header-right-menu > .ant-image > .ant-menu-submenu-profile {
  border-radius: 50%;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 20px;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-notification {
  cursor: pointer;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-notification svg {
  color: #ffffff;
  font-size: 32px;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-notification .ant-badge-count {
  right: 5px;
  top: 2px;
  min-width: 18px;
  height: 18px;
  border-radius: 50%;
  line-height: 18px;
  font-size: 10px;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-message-alert {
  cursor: pointer;
  margin-top: 2px;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-message-alert svg {
  color: #ffffff;
  font-size: 30px;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-message-alert .ant-badge-count {
  right: 5px;
  top: 5px;
  min-width: 20px;
  height: 20px;
  border-radius: 50%;
  line-height: 23px;
  font-size: 13px;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-left-menus {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-left-menus svg {
  color: #ffffff;
  font-size: 32px;
}

.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-left-menus:hover,
.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-message-alert:hover svg,
.private-layout > .ant-layout > .ant-layout-header .ant-header-right-menu .ant-menu-submenu-notification:hover svg {
  color: #13f4f1;
}

.ant-menu-submenu-profile-popup {
  top: 100px !important;
  width: 300px;
  border: 1px solid #949599;
  border-top: none;
}

.ant-menu-submenu-profile-popup .title {
  font-weight: 700;
  font-size: 18px;
}

.ant-menu-submenu-profile-popup .ant-dropdown-menu > .ant-dropdown-menu-item > .anticon,
.ant-menu-submenu-profile-popup .ant-dropdown-menu > .ant-dropdown-menu-item > svg {
  font-size: 14px;
}

.ant-menu-submenu-profile-popup ul {
  padding: 0px 15px 15px 15px;
}

.ant-menu-submenu-profile-popup ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ant-menu-submenu-profile-popup ul li svg {
  color: #027273;
  stroke: #027273;
}

.ant-menu-submenu-profile-popup ul li svg path {
  color: #027273;
  stroke: #027273;
}

.ant-menu-submenu-profile-popup ul .ant-menu-item-profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
  height: 100px;
  padding-bottom: 10px;
  margin-bottom: 10px;
  border-bottom: 1px solid #949599;
}

.ant-menu-submenu-profile-popup ul .ant-menu-item-profile .ant-image {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  border: 2px solid #13f4f1;
  padding: 2px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
}

.ant-menu-submenu-profile-popup ul .ant-menu-item-profile .ant-image img {
  border-radius: 50%;
}

.ant-menu-submenu-profile-popup ul .ant-menu-item-profile .ant-typography:first-child {
  color: #027273;
  font-weight: 600;
  font-size: 17px;
}

.ant-menu-submenu-profile-popup ul .ant-menu-item-profile .ant-typography {
  white-space: break-spaces;
}

.ant-menu-submenu-profile-popup ul .ant-menu-item-profile-details {
  background-color: transparent;
}

.ant-menu-submenu-profile-popup ul .ant-menu-item-logout a {
  color: inherit;
}

.ant-menu-submenu-profile-popup ul .ant-dropdown-menu-item-active a {
  color: #027273;
}

.ant-menu-submenu-profile-popup ul .ant-dropdown-menu-item-active svg {
  color: #58585a;
  stroke: #58585a;
}

.ant-menu-submenu-profile-popup ul .ant-dropdown-menu-item-active svg path {
  color: #58585a;
  stroke: #58585a;
}

.ant-menu-submenu-notification-popup,
.ant-menu-submenu-message-alert-popup {
  top: 100px !important;
  width: 320px;
  border: 1px solid #949599;
  border-top: none;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

.ant-menu-submenu-notification-popup .title,
.ant-menu-submenu-message-alert-popup .title {
  font-weight: 700;
  font-size: 20px;
  text-align: left;
  background-color: transparent;
}

.ant-menu-submenu-notification-popup .li-no-message .ant-dropdown-menu-title-content,
.ant-menu-submenu-notification-popup .li-no-notification .ant-dropdown-menu-title-content,
.ant-menu-submenu-message-alert-popup .li-no-message .ant-dropdown-menu-title-content,
.ant-menu-submenu-message-alert-popup .li-no-notification .ant-dropdown-menu-title-content {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ant-menu-submenu-message-alert-popup,
.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item:not(:first-child) {
  height: auto !important;
}

.ant-menu-submenu-message-alert-popup .ant-dropdown-menu,
.ant-menu-submenu-notification-popup .ant-dropdown-menu {
  overflow-y: auto;
  min-height: 75px !important;
  max-height: 500px !important;
  scrollbar-width: thin;
  scrollbar-color: #ae8c58 #bbb;
}

.ant-menu-submenu-message-alert-popup .ant-dropdown-menu::-webkit-scrollbar,
.ant-menu-submenu-notification-popup .ant-dropdown-menu::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu::-webkit-scrollbar-track,
.ant-menu-submenu-notification-popup
.ant-dropdown-menu::-webkit-scrollbar-track {
  background-color: #bbb;
  border-radius: 5px;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu::-webkit-scrollbar-thumb,
.ant-menu-submenu-notification-popup
.ant-dropdown-menu::-webkit-scrollbar-thumb {
  background-color: #ae8c58;
  border-radius: 5px;
}

.ant-menu-submenu-message-alert-popup .ant-dropdown-menu-item-divider,
.ant-menu-submenu-notification-popup .ant-dropdown-menu-item-divider {
  background: #949599;
}

.ant-menu-submenu-message-alert-popup
> .ant-dropdown-menu
> .ant-dropdown-menu-item.ant-dropdown-menu-item-active
.ant-dropdown-container
.ant-dropdown-trigger,
.ant-menu-submenu-notification-popup
> .ant-dropdown-menu
> .ant-dropdown-menu-item.ant-dropdown-menu-item-active
.ant-dropdown-container
.ant-dropdown-trigger {
  display: block;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item:not(:first-child)
.ant-dropdown-menu-title-content {
  height: auto;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: normal;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item:not(:first-child)
.ant-dropdown-menu-title-content a.ant-typography > div.ant-typography {
  padding-bottom: 0px;
  margin-bottom: 0px;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item:not(:first-child)
.ant-dropdown-menu-title-content a.ant-typography > div.ant-typography span {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
.ant-dropdown-trigger {
  font-size: 42px;
  color: #027273;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
a {
  width: 90%;
  z-index: 1;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
span:not(.ant-typography) {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
span.ant-dropdown-container {
  width: 12%;
  z-index: 2;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
span.ant-status-container {
  width: 3%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
span.ant-status-container svg {
  font-size: 22px;
  color: #027273 !important;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-container
.ant-dropdown-trigger {
  display: none;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu.ant-dropdown-menu-item-active:hover
.ant-dropdown-container
.ant-dropdown-trigger,
.ant-menu-submenu-notification-popup
.ant-dropdown-menu-item.ant-dropdown-menu-item-selected
.ant-dropdown-container
.ant-dropdown-trigger {
  display: block;
}

.ant-menu-submenu-notification-popup .ant-dropdown-menu-item.ant-notification {
  margin: 6px 0px;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu-item.ant-notification
.ant-dropdown-menu-title-content
a {
  width: 100%;
}

.ant-menu-submenu-notification-popup
.ant-dropdown-menu
.ant-dropdown-menu-item:not(:last-child) {
  margin-bottom: 0px !important;
}

.ant-menu-submenu-notification-popup a:hover {
  color: #58585a;
}

.ant-menu-submenu-message-alert-popup,
.ant-menu-submenu-notification-popup {
  overflow: hidden;
  max-height: 500px !important;
}

.ant-menu-submenu-message-alert-popup .ant-dropdown-menu .ant-dropdown-menu-item.title a,
.ant-menu-submenu-notification-popup .ant-dropdown-menu .ant-dropdown-menu-item.title a {
  color: #027273 !important;
}

.ant-menu-submenu-message-alert-popup ul li {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ant-menu-submenu-message-alert-popup ul li svg {
  color: #027273;
  stroke: #027273;
}

.ant-menu-submenu-message-alert-popup ul li svg path {
  color: #027273;
  stroke: #027273;
}

.ant-menu-submenu-message-alert-popup ul li a:hover {
  color: #027273;
}

.ant-menu-submenu-message-alert-popup ul li div.ant-typography.ant-typography-ellipsis.ant-typography-ellipsis-multiple-line {
  margin-bottom: 0px;
}

.ant-menu-submenu-message-alert-popup ul .ant-menu-item-divider {
  border-color: #949599 !important;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content {
  width: 100%;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu
.ant-dropdown-menu-item:not(:first-child)
.ant-dropdown-menu-title-content {
  height: auto;
  line-height: normal;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  white-space: normal;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
a {
  width: 95%;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
.ant-status-container {
  width: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu
.ant-dropdown-menu-item
.ant-dropdown-menu-title-content
.ant-status-container svg {
  font-size: 22px;
  color: #027273 !important;
}

.ant-menu-submenu-message-alert-popup
.ant-dropdown-menu
.ant-dropdown-menu-item:not(:last-child) {
  margin-bottom: 0px !important;
}

.ant-menu-submenu-left-menus-popup {
  top: 100px !important;
  width: 230px;
  border: 1px solid #949599;
  border-top: none;
  -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
          box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
  .private-layout > .ant-layout > .ant-layout-header {
    height: 70px;
  }
  .ant-header-right-menu > .ant-image {
    width: 52px;
    height: 52px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon.ant-menu-left-icon-menu-collapse-on-close {
    padding: 0px 10px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-submenu-left-menus {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0px 10px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-submenu-left-menus svg {
    font-size: 28px;
    color: #ffffff;
  }
  .private-layout > .ant-layout > .ant-layout-header {
    padding-right: 10px;
  }
  .ant-menu-submenu-profile-popup,
  .ant-menu-submenu-notification-popup,
  .ant-menu-submenu-message-alert-popup,
  .ant-menu-submenu-left-menus-popup {
    top: 70px !important;
  }
  .ant-menu-submenu-profile-popup {
    width: 300px;
  }
  .ant-menu-submenu-left-menus-popup {
    width: 230px;
    border: 1px solid #949599;
    border-top: none;
    -webkit-box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
            box-shadow: 0 3px 6px -4px rgba(0, 0, 0, 0.12), 0 6px 16px 0 rgba(0, 0, 0, 0.08), 0 9px 28px 8px rgba(0, 0, 0, 0.05);
  }
}

/* Media Query for Large screens */
/* Media Query for Laptops and Desktops */
/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon:not(.ant-menu-left-icon-menu-collapse-on-close)
a {
    width: 110px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon
a
svg {
    font-size: 32px;
  }
}

/* Media Query for Tablets, Ipads and below  */
/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .private-layout > .ant-layout > .ant-layout-header {
    height: 70px;
  }
  .ant-header-right-menu > .ant-image {
    width: 52px;
    height: 52px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-left-menu
.ant-menu-left-icon.ant-menu-left-icon-menu-collapse-on-close
svg {
    font-size: 22px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-right-menu
.ant-menu-submenu-notification
svg {
    font-size: 22px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-right-menu
.ant-menu-submenu-message-alert
svg {
    font-size: 22px;
  }
  .private-layout
> .ant-layout
> .ant-layout-header
.ant-header-right-menu
.ant-menu-submenu-left-menus
svg {
    font-size: 22px;
  }
  .ant-menu-submenu-profile-popup,
  .ant-menu-submenu-notification-popup,
  .ant-menu-submenu-message-alert-popup,
  .ant-menu-submenu-left-menus-popup {
    top: 70px !important;
  }
  .ant-menu-submenu-profile-popup {
    width: 300px;
  }
  .ant-menu-submenu-left-menus-popup {
    width: 230px;
    border: 1px solid #949599;
    border-top: none;
  }
  .ant-menu-submenu-left-menus-popup ul li {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .ant-menu-submenu-left-menus-popup ul li svg {
    color: #027273 !important;
    stroke: #027273 !important;
  }
  .ant-menu-submenu-left-menus-popup ul li svg path {
    color: #027273 !important;
    stroke: #027273 !important;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 575px) {
  .ant-menu-submenu-left-menus-popup ul li svg {
    color: #027273 !important;
    stroke: #027273 !important;
  }
  .ant-menu-submenu-left-menus-popup ul li svg path {
    color: #027273 !important;
    stroke: #027273 !important;
  }
}
/*# sourceMappingURL=header.css.map */