@import "../../variables/variables.scss";

.ant-table-default {
	border: 1px solid #dfe2df;

	.ant-table-thead {
		th {
			background-color: $color1;
			color: $white;
			padding-top: 10px;
			padding-bottom: 10px;

			.ant-table-column-sorters {
				.ant-table-column-sorter {
					color: $white;

					.active {
						color: $color20;
					}
				}
			}
		}
		th:before {
			background-color: transparent;
		}
		.ant-table-cell {
			border-bottom-color: #dfe2df;
		}
	}

	.ant-table-thead th.ant-table-column-has-sorters:hover {
		background-color: $color1;
	}
}
.ant-table-striped {
	.ant-table-column-sorters {
		.ant-table-column-sorter {
			color: $white;

			.active {
				color: $color20;
			}
		}
	}
}

// .ant-table-striped tbody tr:nth-of-type(even) {
.ant-table-striped:not(.thead-light) tbody tr:nth-child(even) {
	background-color: rgba(0, 0, 0, 0.05);
	.ant-table-cell {
		border-top: 1px solid #dfe2df !important;
		border-bottom: 1px solid #dfe2df !important;
	}
	.ant-table-cell.ant-table-column-sort {
		background-color: rgba(0, 0, 0, 0.05);
	}
}

.table-responsive {
	overflow-x: auto !important;
	width: 100% !important;
}

.table-page {
	.ant-space-item {
		padding-top: 4px;
	}
}

.table {
	width: 100%;
	border-collapse: collapse;
	margin-bottom: 1rem;
	background-color: transparent;
}
.table th {
	text-align: inherit;
}
.table td,
.table th {
	padding: 0.75rem;
	vertical-align: middle;
	border-top: 1px solid #dee2e6;
}

.table thead th {
	vertical-align: bottom;
	border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
	background-color: rgba(0, 0, 0, 0.05);
}

.thead-light .ant-table-thead th {
	color: #495057;
	background-color: #e9ecef;
	border-color: #dee2e6;
}

// .thead-light.ant-table-striped tbody tr:nth-of-type(odd) {
// 	background-color: rgba(0, 0, 0, 0.05) !important;
// }

.thead-light.ant-table-striped tbody tr:nth-child(odd) {
	background-color: rgba(0, 0, 0, 0.05);
	.ant-table-cell {
		border-top: 1px solid #dfe2df !important;
		border-bottom: 1px solid #dfe2df !important;
	}
	.ant-table-cell.ant-table-column-sort {
		background-color: rgba(0, 0, 0, 0.05);
	}
}
.table-filter-alphabet-wrapper {
	display: flex;
	gap: 8px;
	align-items: center;
}
.table-filter-alphabet {
	flex-wrap: wrap;
	.ant-btn {
		padding-left: 10px;
		padding-right: 10px;
	}
}

.ant-table-column-sorters {
	flex-direction: row-reverse;
	gap: 8px;
}

// .ant-table-content,
// .ant-table-content table {
// 	--webkit-overflow-scrolling: touch;
// 	flex-shrink: 0;
// }
@media (max-width: 1281px) {
	.table-filter-alphabet-wrapper {
		flex-direction: column;
		align-items: flex-start;
	}
}
@media (max-width: 480px) {
	.table-size-table-search {
		gap: 12px;
		width: 100%;
		flex-direction: column;
	}
	.table-size-table-search div:last-child {
		width: 100%;
	}
	.table-entries-table-pagination {
		gap: 12px;
		width: 100%;
		align-items: center;
		flex-direction: column;
	}
}

// @media (min-width: 320px) and (max-width: 500px) {
// 	.ant-space-flex-space-between {
// 		display: flex;
// 		flex-direction: column;
// 		align-items: flex-start;
// 		padding-top: 5px !important;

// 		.ant-space-item:last-child {
// 			margin-left: -7px;
// 		}
// 	}
// }
