.ant-table-default {
  border: 1px solid #dfe2df;
}

.ant-table-default .ant-table-thead th {
  background-color: #027273;
  color: #ffffff;
  padding-top: 10px;
  padding-bottom: 10px;
}

.ant-table-default .ant-table-thead th .ant-table-column-sorters .ant-table-column-sorter {
  color: #ffffff;
}

.ant-table-default .ant-table-thead th .ant-table-column-sorters .ant-table-column-sorter .active {
  color: #a7a9ac;
}

.ant-table-default .ant-table-thead th:before {
  background-color: transparent;
}

.ant-table-default .ant-table-thead .ant-table-cell {
  border-bottom-color: #dfe2df;
}

.ant-table-default .ant-table-thead th.ant-table-column-has-sorters:hover {
  background-color: #027273;
}

.ant-table-striped .ant-table-column-sorters .ant-table-column-sorter {
  color: #ffffff;
}

.ant-table-striped .ant-table-column-sorters .ant-table-column-sorter .active {
  color: #a7a9ac;
}

.ant-table-striped:not(.thead-light) tbody tr:nth-child(even) {
  background-color: rgba(0, 0, 0, 0.05);
}

.ant-table-striped:not(.thead-light) tbody tr:nth-child(even) .ant-table-cell {
  border-top: 1px solid #dfe2df !important;
  border-bottom: 1px solid #dfe2df !important;
}

.ant-table-striped:not(.thead-light) tbody tr:nth-child(even) .ant-table-cell.ant-table-column-sort {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-responsive {
  overflow-x: auto !important;
  width: 100% !important;
}

.table-page .ant-space-item {
  padding-top: 4px;
}

.table {
  width: 100%;
  border-collapse: collapse;
  margin-bottom: 1rem;
  background-color: transparent;
}

.table th {
  text-align: inherit;
}

.table td,
.table th {
  padding: 0.75rem;
  vertical-align: middle;
  border-top: 1px solid #dee2e6;
}

.table thead th {
  vertical-align: bottom;
  border-bottom: 2px solid #dee2e6;
}

.table-striped tbody tr:nth-of-type(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.thead-light .ant-table-thead th {
  color: #495057;
  background-color: #e9ecef;
  border-color: #dee2e6;
}

.thead-light.ant-table-striped tbody tr:nth-child(odd) {
  background-color: rgba(0, 0, 0, 0.05);
}

.thead-light.ant-table-striped tbody tr:nth-child(odd) .ant-table-cell {
  border-top: 1px solid #dfe2df !important;
  border-bottom: 1px solid #dfe2df !important;
}

.thead-light.ant-table-striped tbody tr:nth-child(odd) .ant-table-cell.ant-table-column-sort {
  background-color: rgba(0, 0, 0, 0.05);
}

.table-filter-alphabet-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 8px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.table-filter-alphabet {
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.table-filter-alphabet .ant-btn {
  padding-left: 10px;
  padding-right: 10px;
}

.ant-table-column-sorters {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  gap: 8px;
}

@media (max-width: 1281px) {
  .table-filter-alphabet-wrapper {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
}

@media (max-width: 480px) {
  .table-size-table-search {
    gap: 12px;
    width: 100%;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .table-size-table-search div:last-child {
    width: 100%;
  }
  .table-entries-table-pagination {
    gap: 12px;
    width: 100%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
/*# sourceMappingURL=table.css.map */