$opacity: 0.6;

$primary: #2f3950;
$primaryActive: #2f3950;

$secondary: #868e96;
$secondaryActive: #727b84;

$success: #23bf08;
$successActive: #1c9a06;

$warning: #f4ba41;
$warningActive: #da850a;

$danger: #c82a1c;
$dangerActive: #c82333;

$info: #5b93d3;
$infoActive: #3d7fcb;

$indigo: #6610f2;
$indigoActive: #560bd0;

$purple: #6f42c1;
$purpleActive: #5e37a6;

$pink: #e83e8c;
$pinkActive: #e41c78;

$teal: #1caf9a;
$tealActive: #178e7d;

$dark: #343a40;
$darkActive: #23272b;

$orange: #f27510;
$orangeActive: #d16a17;

$login: #2f3950;
$loginActive: #2f3950;

// colors
$layoutBackground: #212529;
$accordionBorder: #dee2e6;
$basicNavBorder: #d9d9d9;

$font: "Roboto", "Helvetica Neue", Arial, sans-serif;

$white: #ffffff;
$cdarkgray: #2f3950;
$clightorange: #f4ba41;

// SideMenu
$sideMenuTopIconColor: #2f3950;
$sideMenuTopIconColorHover: #f4ba41;

// $white: env('APP_HEADER_BACKGROUND_COLOR');
// $cdarkgray: env('APP_SIDEBAR_BACKGROUND_COLOR');
// $clightorange: env('APP_HEADER_COLOR');
