@mixin atExtraSmall {
  @media (min-width: 480px) {
    @content;
  }
}

@mixin atSmall {
  @media (min-width: 576px) {
    @content;
  }
}

@mixin atMedium {
  @media (min-width: 768px) {
    @content;
  }
}

@mixin atLarge {
  @media (min-width: 992px) {
    @content;
  }
}

@mixin at1380 {
  @media (min-width: 1028px) and (max-width: 1380px) {
    @content;
  }
}

@mixin atExtraLarge {
  @media (min-width: 1100px) {
    @content;
  }
}
$opacity: 0.6;

$primary: #325db8;
$primaryActive: #0753a1;

$pending: #f87400;
$upcoming : #8612d0;


$secondary: #868e96;
$secondaryActive: #727b84;

$success: #239904;
$successActive: #1c9a06;

$warning: #a90505;
$warningActive: #da850a;

$danger: #dc3545;
$dangerActive: #c82333;

$info: #5b93d3;
$infoActive: #3d7fcb;

$indigo: #6610f2;
$indigoActive: #560bd0;

$purple: #6f42c1;
$purpleActive: #5e37a6;

$pink: #e83e8c;
$pinkActive: #e41c78;

$teal: #1caf9a;
$tealActive: #178e7d;

$dark: #343a40;
$darkActive: #23272b;

$orange: #f27510;
$orangeActive: #d16a17;

// layout
$layoutBackground: #3f5fac;
$textColor: #ffffff;
$iconColor: #009999;
$textColorActive: #ffffff;
$iconColorActive: #ffffff;
$primaryBackground: #fbfbfb;

// layout side menu
$sideBarBackground: #f2f2f2;
$sideBarBackgroundSelectedMenu: #789df9;
$sideBarBorderColor: #f0e3ca;
$sideBarTextColor: #ffffff;
$sideBarIconColor: #ffffff;
$sideBarTextColorActive: #3f5fac;
$sideBarIconColorActive: #ffffff;

// layout header
$headerBackground: #f2f2f2;
$headerBackgroundSelectedMenu: #365293;
$headerTextColor: #bdbec0;
$headerLeftIconColor: #ffffff;
$headerRightIconColor: #ffffff;
$headerTextColorActive: #13f4f1;
$headerIconColorActive: #13f4f1;
$headerProfileColor: #13f4f1;

// layout header dropdown
$headerDropdownBackgroundSelectedMenu: #3f5fac;
$headerDropdownTextColor: #58585a;
$headerDropdownIconColor: #3f5fac;
$headerDropdownTextColorActive: #3f5fac;
$headerDropdownIconColorActive: #58585a;
$headerDropdownTitleColor: #3f5fac;
$headerDropdownImgBorderColor: #3f5fac;
$headerDropdownBorderColor: #949599;

// page header
$pageHeaderBackground: transparent;
$pageHeaderBorderColor: #58585a;
$pageHeaderColorTitle: #3f5fac;
$pageHeaderColorSubTitle: #58585a;
$pageHeaderIconColor: #252525;
$pageHeaderIconBorderColor: #252525;

// page header public
$pageHeaderPublicBackground: transparent;
$pageHeaderPublicBorderColor: #58585a;
$pageHeaderPublicColorTitle: #4169e1;
$pageHeaderPublicColorSubTitle: #58585a;
$pageHeaderPublicIconColor: #58585a;
$pageHeaderPublicIconBorderColor: #58585a;

// accordion
$accordionBorder: #dee2e6;
$basicNavBorder: #d9d9d9;

// collapse nav
$collapseIconColor: rgba(255, 255, 255, 0.5);
$collapseIconColorHover: #ffffff;
$collapseIconColorActive: #ffffff;

// breadcrumColor
$breadcrumColor: transparent;
$breadcrumTextColor: #252525;
$breadcrumIconColor: #252525;
$breadcrumLastTextColor: #e4151f;

// Floating
$FloatAsLabel: #918f8ffa;
$FloatAsPlaceholder: #918f8ffa;

$font: "montserrat", Sans-serif;

$white: #ffffff;
$black: #000000;

$main: #79390f;
$mainText: #ffffff;
$mainActive: #3f5fac;
$mainTextActive: #ffffff;
$mainInvert: #e4151f;
$mainInvertText: #ffffff;
$mainInvertActive: #ffffff;
$mainInvertBorderActive: #e4151f;
$mainInvertTextActive: #e4151f;

$warningColor: #ffcc00;

$color1: #4169e1;
$color2: #13f4f1;
$color3: #028f8d;
$color4: #358e8f;
$color5: #0e5729;
$color6: #e4151f;
$color7: #58585a;
$color8: #808285;
$color9: #949599;
$color10: #bdbec0;
$color11: #137702;
$color12: #ddfeff;
$color13: #0e5728;
$color14: #6c6c6c;
$color15: #606060;

$color16: #3f5fac;
$color17: #365293;
$sideMenuIcon: #6c97ff;

$new-success: #058d08;

$mainIcon: #783b19;
$newTableHeaderColor: #fbfbfb;
$newTitleColor: #1b1b1b;
$newTextColor: #313131;
