{
    "plugins": ["@babel/plugin-proposal-class-properties"],
    "env": {
        "development": {
            "compact": false
        },
        "production": {
            "compact": "auto"
        }
    }
}
