/node_modules
/socket-server/node_modules
/socket-server/keys
/public/*.js
/public/js/admin/
/public/js/
/public/css/
/public/uploads/
/public/assets/images/
/public/assets/pdf/
/public/*.svg
/public/*.jpg
/public/storage
/storage/*.key
/vendor
.env
.env.backup
.phpunit.result.cache
Homestead.json
Homestead.yaml
npm-debug.log
yarn-error.log
/public/mix-manifest.json

public/storage/
public/storage/
