@import "../../variables/variables.scss";

.manageUserPage {
  & .ant-collapse-content-box {
    padding: 6px;
    @include atSmall {
      padding: 16px;
    }
  }

  & .client-state .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
    line-height: 57px;
  }

  & .ant-card-body {
    padding: 5px;
    @include atSmall {
      padding: 24px;
    }
  }

  & .label.as-placeholder {
    font-size: 8.5px;
    font-weight: 600;
    top: 16px;
    @include atSmall {
      font-size: 14px;
      font-weight: normal;
      top: 12px;
    }
  }

  .notes-collapse {
    display: flex;
    flex-direction: column;
    background-color: transparent;

    //  .ant-collapse-content > .ant-collapse-content-box{
    //   @media (min-width: 991px) {
    //     height: 490px
    //   }

    // }
  }

  @media (min-width: 991px) and (max-width: 1024px) {
    .task-collapse-title {
      font-size: 15px !important;
    }
  }
}
