@import "../../variables/variables.scss";
.page-admin-training-module {
  .ant-collapse-content {
    .ant-collapse-content-box {
      padding: 0px;
      .table {
        margin-bottom: 0px;
      }
    }
  }
}

.page-caregiver-training-module {
  .ant-row-modules {
    .ant-btn-modules {
      height: 240px;
      .status {
        font-size: 18px;
      }
    }

    .ant-btn-modules.completed {
      background-color: $color13;

      .ant-btn-modules-icon {
        svg {
          color: $white;

          path {
            stroke: $white;
          }
        }
      }

      .ant-typography {
        color: $white;
      }

      .icon-bottom {
        svg {
          color: $white;
        }
      }
    }
    .ant-btn-modules.completed:hover {
      background-color: transparent;
      border: 1px solid $color13;

      .ant-btn-modules-icon {
        svg {
          color: $color13;

          path {
            stroke: $color13;
          }
        }
      }

      .ant-typography {
        color: $color7;
      }
      .icon-bottom {
        svg {
          color: $color7;
        }
      }
    }

    .ant-btn-modules.in-progress {
      border: 1px solid $color7;

      .ant-btn-modules-icon {
        svg {
          color: $color1;
          font-size: 60px;

          path {
            stroke: $color1;
          }
        }
      }

      .ant-typography {
        color: $color7;
      }

      .icon-bottom {
        svg {
          color: $color7;
        }
      }
    }
    .ant-btn-modules.in-progress:hover {
      background-color: transparent;
      border: 1px solid $color13;

      .ant-typography {
        color: $color7;
      }
    }

    .ant-btn-modules.completed-disabled {
      border: 1px solid $color7;
      background-color: $color9;

      .ant-btn-modules-icon {
        svg {
          color: $color7;
          font-size: 60px;

          path {
            stroke: $color7;
          }
        }
      }

      .ant-typography {
        color: $color7;
      }

      .icon-bottom {
        svg {
          color: $color7;
        }
      }
    }
  }

  .collapse-step-4 {
    .question-step > div:first-child {
      width: 25%;
    }
    .question-step > div:last-child {
      width: 75%;
    }
    .question-step {
      padding: 5px 10px;
      .ant-progress {
        .ant-progress-outer {
          width: 100%;
          padding-right: 0px;
        }
        .ant-progress-text {
          display: none;
        }
      }
    }

    .control {
      display: flex;
      justify-content: space-between;

      .prev .ant-btn {
        padding-left: 0px;
      }
    }
  }

  .step-3-view-document {
    .ant-collapse-content-box {
      padding: 0px;
    }
    ol {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 10px 15px;

        .icon {
          color: $color6 !important;
        }
        .text {
          color: $color1 !important;
        }
      }
      li:hover {
        background-color: $color10 !important;
        cursor: pointer;
      }
    }
  }
}

.page-careprofessional-training-module {
  .ant-row-modules {
    .ant-btn-modules {
      height: 240px;

      .ant-btn-modules-icon {
        svg {
          font-size: 62px;
        }
      }
      .status {
        font-size: 18px;
      }
    }

    .ant-btn-modules.completed {
      background-color: $color13;
      .ant-btn-modules-icon {
        svg {
          color: $white;

          path {
            stroke: $white;
          }
        }
      }

      .ant-typography {
        color: $white;
      }

      .icon-bottom {
        svg {
          color: $white;
        }
      }
    }
    .ant-btn-modules.completed:hover {
      background-color: transparent;
      border: 1px solid $color13;

      .ant-btn-modules-icon {
        svg {
          color: $color13;

          path {
            stroke: $color13;
          }
        }
      }

      .ant-typography {
        color: $color7;
      }
      .icon-bottom {
        svg {
          color: $color7;
        }
      }
    }

    .ant-btn-modules.in-progress {
      border: 1px solid $color7;

      .ant-btn-modules-icon {
        svg {
          color: $color1;
          font-size: 60px;

          path {
            stroke: $color1;
          }
        }
      }

      .ant-typography {
        color: $color7;
      }

      .icon-bottom {
        svg {
          color: $color7;
        }
      }
    }
    .ant-btn-modules.in-progress:hover {
      background-color: transparent;
      border: 1px solid $color13;

      .ant-typography {
        color: $color7;
      }
    }

    .ant-btn-modules.completed-disabled {
      border: 1px solid $color7;
      background-color: $color9;

      .ant-btn-modules-icon {
        svg {
          color: $color7;
          font-size: 60px;

          path {
            stroke: $color7;
          }
        }
      }

      .ant-typography {
        color: $color7;
      }

      .icon-bottom {
        svg {
          color: $color7;
        }
      }
    }
  }

  .collapse-step-4 {
    .step4-questionaire-carousel {
      .question-step > div:first-child {
        width: 25%;
      }
      .question-step > div:last-child {
        width: 75%;
      }
      .question-step {
        padding: 5px 10px;
        .ant-progress {
          .ant-progress-outer {
            width: 100%;
            padding-right: 0px;
          }
          .ant-progress-text {
            display: none;
          }
        }
      }

      .row-questions {
        .content {
          min-height: 50px;
        }
      }

      .control {
        display: flex;
        justify-content: space-between;

        .prev .ant-btn {
          padding-left: 0px;
        }
      }
    }
  }

  .step-3-view-document {
    .ant-collapse-content-box {
      padding: 0px;
    }
    ol {
      margin: 0;
      padding: 0;
      list-style: none;

      li {
        padding: 10px 15px;

        .icon {
          color: $color6 !important;
        }
        .text {
          color: $color1 !important;
        }
      }
      li:hover {
        background-color: $color10 !important;
        cursor: pointer;
      }
    }
  }
}

.client-status {
  margin-bottom: 1.6rem;
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
