.page-admin-training-module .ant-collapse-content .ant-collapse-content-box {
  padding: 0px;
}
.page-admin-training-module .ant-collapse-content .ant-collapse-content-box .table {
  margin-bottom: 0px;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules {
  height: 240px;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules .status {
  font-size: 18px;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed {
  background-color: #0e5728;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .ant-btn-modules-icon svg {
  color: #ffffff;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .ant-btn-modules-icon svg path {
  stroke: #ffffff;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .ant-typography {
  color: #ffffff;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .icon-bottom svg {
  color: #ffffff;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover {
  background-color: transparent;
  border: 1px solid #0e5728;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-btn-modules-icon svg {
  color: #0e5728;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-btn-modules-icon svg path {
  stroke: #0e5728;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-typography {
  color: #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .icon-bottom svg {
  color: #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress {
  border: 1px solid #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-btn-modules-icon svg {
  color: #4169e1;
  font-size: 60px;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-btn-modules-icon svg path {
  stroke: #4169e1;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-typography {
  color: #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .icon-bottom svg {
  color: #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress:hover {
  background-color: transparent;
  border: 1px solid #0e5728;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress:hover .ant-typography {
  color: #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled {
  border: 1px solid #58585a;
  background-color: #949599;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-btn-modules-icon svg {
  color: #58585a;
  font-size: 60px;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-btn-modules-icon svg path {
  stroke: #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-typography {
  color: #58585a;
}
.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .icon-bottom svg {
  color: #58585a;
}
.page-caregiver-training-module .collapse-step-4 .question-step > div:first-child {
  width: 25%;
}
.page-caregiver-training-module .collapse-step-4 .question-step > div:last-child {
  width: 75%;
}
.page-caregiver-training-module .collapse-step-4 .question-step {
  padding: 5px 10px;
}
.page-caregiver-training-module .collapse-step-4 .question-step .ant-progress .ant-progress-outer {
  width: 100%;
  padding-right: 0px;
}
.page-caregiver-training-module .collapse-step-4 .question-step .ant-progress .ant-progress-text {
  display: none;
}
.page-caregiver-training-module .collapse-step-4 .control {
  display: flex;
  justify-content: space-between;
}
.page-caregiver-training-module .collapse-step-4 .control .prev .ant-btn {
  padding-left: 0px;
}
.page-caregiver-training-module .step-3-view-document .ant-collapse-content-box {
  padding: 0px;
}
.page-caregiver-training-module .step-3-view-document ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-caregiver-training-module .step-3-view-document ol li {
  padding: 10px 15px;
}
.page-caregiver-training-module .step-3-view-document ol li .icon {
  color: #e4151f !important;
}
.page-caregiver-training-module .step-3-view-document ol li .text {
  color: #4169e1 !important;
}
.page-caregiver-training-module .step-3-view-document ol li:hover {
  background-color: #bdbec0 !important;
  cursor: pointer;
}

.page-careprofessional-training-module .ant-row-modules .ant-btn-modules {
  height: 240px;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules .ant-btn-modules-icon svg {
  font-size: 62px;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules .status {
  font-size: 18px;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed {
  background-color: #0e5728;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed .ant-btn-modules-icon svg {
  color: #ffffff;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed .ant-btn-modules-icon svg path {
  stroke: #ffffff;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed .ant-typography {
  color: #ffffff;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed .icon-bottom svg {
  color: #ffffff;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed:hover {
  background-color: transparent;
  border: 1px solid #0e5728;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-btn-modules-icon svg {
  color: #0e5728;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-btn-modules-icon svg path {
  stroke: #0e5728;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-typography {
  color: #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed:hover .icon-bottom svg {
  color: #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.in-progress {
  border: 1px solid #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-btn-modules-icon svg {
  color: #4169e1;
  font-size: 60px;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-btn-modules-icon svg path {
  stroke: #4169e1;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-typography {
  color: #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.in-progress .icon-bottom svg {
  color: #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.in-progress:hover {
  background-color: transparent;
  border: 1px solid #0e5728;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.in-progress:hover .ant-typography {
  color: #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed-disabled {
  border: 1px solid #58585a;
  background-color: #949599;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-btn-modules-icon svg {
  color: #58585a;
  font-size: 60px;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-btn-modules-icon svg path {
  stroke: #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-typography {
  color: #58585a;
}
.page-careprofessional-training-module .ant-row-modules .ant-btn-modules.completed-disabled .icon-bottom svg {
  color: #58585a;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .question-step > div:first-child {
  width: 25%;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .question-step > div:last-child {
  width: 75%;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .question-step {
  padding: 5px 10px;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .question-step .ant-progress .ant-progress-outer {
  width: 100%;
  padding-right: 0px;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .question-step .ant-progress .ant-progress-text {
  display: none;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .row-questions .content {
  min-height: 50px;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .control {
  display: flex;
  justify-content: space-between;
}
.page-careprofessional-training-module .collapse-step-4 .step4-questionaire-carousel .control .prev .ant-btn {
  padding-left: 0px;
}
.page-careprofessional-training-module .step-3-view-document .ant-collapse-content-box {
  padding: 0px;
}
.page-careprofessional-training-module .step-3-view-document ol {
  margin: 0;
  padding: 0;
  list-style: none;
}
.page-careprofessional-training-module .step-3-view-document ol li {
  padding: 10px 15px;
}
.page-careprofessional-training-module .step-3-view-document ol li .icon {
  color: #e4151f !important;
}
.page-careprofessional-training-module .step-3-view-document ol li .text {
  color: #4169e1 !important;
}
.page-careprofessional-training-module .step-3-view-document ol li:hover {
  background-color: #bdbec0 !important;
  cursor: pointer;
}

.client-status {
  margin-bottom: 1.6rem;
}

/* Media Query for Mobile Devices */
/* Media Query for low resolution  Tablets, Ipads */
/* Media Query for Tablets, Ipads and below  */
/* Media Query for Tablets Ipads portrait mode */
/* Media Query for Laptops and Desktops */
/* Media Query for Large screens *//*# sourceMappingURL=training_module.css.map */