.page-admin-training-module .ant-collapse-content .ant-collapse-content-box {
  padding: 0px;
}

.page-admin-training-module .ant-collapse-content .ant-collapse-content-box .table {
  margin-bottom: 0px;
}

.page-admin-training-module .ant-collapse-header-text {
  width: 100%;
}

.page-admin-training-module .ant-collapse-header-text > div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  gap: 12px;
}

.page-admin-training-module .ant-collapse-header-text > div div:first-child {
  width: 30%;
}

.page-admin-training-module .ant-collapse-header-text > div div:nth-child(2) {
  width: 60%;
}

.page-admin-training-module .ant-collapse-header-text > div div:last-child {
  width: 10%;
}

.page-admin-training-module .ant-collapse-content-box {
  overflow-x: auto !important;
  width: 100% !important;
}

.page-admin-training-module .ant-collapse-content-box .table tbody tr td:first-child {
  width: 30%;
  padding-left: 38px;
}

.page-admin-training-module .ant-collapse-content-box .table tbody tr td:nth-child(2) {
  width: 55%;
  padding-left: 25px;
}

.page-admin-training-module .ant-collapse-content-box .table tbody tr td:last-child {
  width: 15%;
}

.modal-admin-edit-module .float-label .ant-input {
  border-color: transparent !important;
}

.page-admin-training-module-add .btn-select-role {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 20px;
  text-align: center;
  grid-gap: 8px;
  gap: 8px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules .status {
  font-size: 18px;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed {
  background-color: #0e5728;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .ant-btn-modules-icon svg {
  color: #ffffff;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .ant-btn-modules-icon svg path {
  stroke: #ffffff;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .ant-typography {
  color: #ffffff;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed .icon-bottom svg {
  color: #ffffff;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover {
  background-color: transparent;
  border: 1px solid #0e5728;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-btn-modules-icon svg {
  color: #0e5728;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-btn-modules-icon svg path {
  stroke: #0e5728;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .ant-typography {
  color: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed:hover .icon-bottom svg {
  color: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress {
  border: 1px solid #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-btn-modules-icon svg {
  color: #027273;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-btn-modules-icon svg path {
  stroke: #027273;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .ant-typography {
  color: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress .icon-bottom svg {
  color: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress:hover {
  background-color: transparent;
  border: 1px solid #0e5728;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.in-progress:hover .ant-typography {
  color: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled {
  border: 1px solid #58585a;
  background-color: #949599;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-btn-modules-icon svg {
  color: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-btn-modules-icon svg path {
  stroke: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .ant-typography {
  color: #58585a;
}

.page-caregiver-training-module .ant-row-modules .ant-btn-modules.completed-disabled .icon-bottom svg {
  color: #58585a;
}

.page-caregiver-training-module .card-document .ant-card-body {
  padding: 0px;
}

.page-caregiver-training-module .card-document ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

.page-caregiver-training-module .card-document ol li {
  padding: 10px 15px;
  cursor: pointer;
}

.page-caregiver-training-module .card-document ol li .icon {
  color: #e4151f !important;
}

.page-caregiver-training-module .card-document ol li .text {
  color: #027273 !important;
}

.page-caregiver-training-module .card-document ol li:nth-child(even) {
  background-color: #bdbec0 !important;
  cursor: pointer;
}

.page-caregiver-training-module .card-audio .ant-card-body {
  padding: 10px;
}

.page-caregiver-training-module .card-audio .ant-card-body audio {
  height: 30px;
}

.page-caregiver-training-module .card-main > .ant-card-head {
  font-size: 12px;
  min-height: auto;
  border-radius: 0px;
}

.page-caregiver-training-module .card-main > .ant-card-head .ant-card-head-title {
  padding-top: 10px;
  padding-bottom: 8px;
}

.page-caregiver-training-module .collapse-step .ant-collapse-header {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
  padding-right: 6px;
}

.page-caregiver-training-module .collapse-step .ant-collapse-header .ant-collapse-header-text {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 10px;
}

.page-caregiver-training-module .collapse-step .ant-collapse-header .ant-collapse-header-text .step-icon {
  color: #317072;
  border-radius: 50%;
  background-color: #71f0ef;
  width: 20px;
  height: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding: 12px;
}

.page-caregiver-training-module .collapse-step .ant-collapse-header .ant-collapse-header-text .step-icon svg {
  font-size: 12px !important;
}

.page-caregiver-training-module .collapse-step .ant-collapse-header .ant-collapse-header-text .step-text {
  color: #ddfeff;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step {
  padding: 5px 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step .out-of-number-question {
  width: 20% !important;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step .ant-progress-wrapper {
  margin-top: 0px;
  width: 80% !important;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step .ant-progress {
  width: 100%;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step .ant-progress .ant-progress-outer {
  width: 100%;
  padding-right: 0px;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step .ant-progress .ant-progress-text {
  display: none !important;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .row-questions .content {
  min-height: 50px;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .control {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .btn-main-invert-disabled-question {
  color: #58585a;
}

.page-caregiver-training-module .ant-range-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  /* Input Track */
}

.page-caregiver-training-module .ant-range-wrapper .ant-range {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  background: rgba(2, 114, 115, 0.6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#027273), to(#027273));
  background-image: linear-gradient(#027273, #027273);
  background-size: 0%;
  background-repeat: no-repeat;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #027273;
  -webkit-box-shadow: 0 0 2px 0 #555;
          box-shadow: 0 0 2px 0 #555;
  cursor: pointer;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #027273;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-ms-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #027273;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-webkit-slider-thumb:hover {
  background: #027273;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-moz-range-thumb:hover {
  background: #027273;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-ms-thumb:hover {
  background: #027273;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.page-caregiver-training-module .ant-range-wrapper .ant-range::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.page-caregiver-training-module .react-player-video-wrapper {
  width: auto;
  height: auto;
}

.page-caregiver-training-module .react-player-video {
  position: relative;
  margin: 0 auto;
}

.page-caregiver-training-module .react-player-video > div {
  position: absolute;
  top: 0;
  -o-object-fit: fill;
     object-fit: fill;
}

.page-caregiver-training-module .btn-radio-group-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  gap: 3px;
}

.page-caregiver-training-module .btn-radio-group-rating .ant-radio-button-wrapper:hover {
  color: rgba(0, 0, 0, 0.85);
  border: 1px solid #027273;
}

.page-caregiver-training-module .btn-radio-group-rating .ant-radio-button-wrapper:not(:first-child)::before {
  background-color: transparent;
}

.page-caregiver-training-module .btn-radio-group-rating .ant-radio-button-wrapper {
  border-left-width: 1px;
}

.page-caregiver-training-module .btn-radio-group-rating .ant-radio-button-wrapper-checked:not(
[class*=" ant-radio-button-wrapper-disabled"]
).ant-radio-button-wrapper:first-child {
  border-right-color: #027273;
}

.page-caregiver-training-module .btn-radio-group-rating .ant-radio-button-wrapper-checked:not(
.ant-radio-button-wrapper-disabled
):first-child {
  border-color: #027273;
}

.page-caregiver-training-module .btn-radio-group-rating .ant-radio-button-wrapper-checked:not(.ant-radio-button-wrapper-disabled) {
  color: #ffffff;
  background-color: #027273;
}

.page-caregiver-training-module .previous-lesson .ant-anchor-ink::before,
.page-caregiver-training-module .next-lesson .ant-anchor-ink::before {
  background-color: transparent;
}

.page-caregiver-training-module .space-video-buttons {
  background: #f1f3f4;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.page-admin-training-module-lesson-edit .div-form-list-option-rating {
  margin-bottom: 24px;
}

.page-admin-training-module-lesson-edit .div-form-list-option-rating .wrap-input-rating {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #58585a;
}

.page-admin-training-module-lesson-edit .div-form-list-option-rating .wrap-input-rating .number {
  font-size: 22px;
  padding: 5px 15px;
  background: #fafafa;
}

.page-admin-training-module-lesson-edit .div-form-list-option-rating .wrap-input-rating .float-label {
  width: 100%;
  border-left: 0px;
}

.page-admin-training-module-lesson-edit .div-form-list-option-rating .wrap-input-rating .float-label .ant-input {
  border: 0px;
  border-top-left-radius: 0px;
  border-bottom-left-radius: 0px;
}

.page-admin-training-module-lesson-edit .upload-hide-remove-icon .ant-upload-list-item-card-actions {
  display: none;
}

.page-admin-training-module-lesson-edit .input_question_number .float-label .ant-input-affix-wrapper .ant-input {
  border-color: transparent !important;
}

.page-admin-training-module-lesson-edit
.div-form-list-option-rating
.ant-form-item-dynamic-delete-button:last-child {
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 0px;
}

.modal-clone-lesson .ant-modal-close-x {
  width: 35px;
  height: 35px;
  line-height: 35px;
  font-size: 20px;
}

.modal-training-module-video-fullscreen {
  width: 50% !important;
}

.modal-training-module-video-fullscreen .ant-modal-content {
  background-color: transparent;
  -webkit-box-shadow: none;
          box-shadow: none;
}

.modal-training-module-video-fullscreen .ant-modal-body {
  padding: 0px;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 10px;
  /* Input Track */
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range {
  -webkit-appearance: none;
  width: 70%;
  height: 5px;
  background: rgba(37, 228, 225, 0.6);
  background-image: -webkit-gradient(linear, left top, left bottom, from(#25e4e1), to(#25e4e1));
  background-image: linear-gradient(#25e4e1, #25e4e1);
  background-size: 0%;
  background-repeat: no-repeat;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-webkit-slider-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background-color: #25e4e1;
  -webkit-box-shadow: 0 0 2px 0 #555;
          box-shadow: 0 0 2px 0 #555;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-moz-range-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #25e4e1;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-ms-thumb {
  -webkit-appearance: none;
  height: 15px;
  width: 15px;
  border-radius: 50%;
  background: #25e4e1;
  cursor: ew-resize;
  box-shadow: 0 0 2px 0 #555;
  -webkit-transition: background 0.3s ease-in-out;
  transition: background 0.3s ease-in-out;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-webkit-slider-thumb:hover {
  background: #25e4e1;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-moz-range-thumb:hover {
  background: #25e4e1;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-ms-thumb:hover {
  background: #25e4e1;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-webkit-slider-runnable-track {
  -webkit-appearance: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  border: none;
  background: transparent;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-moz-range-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.modal-training-module-video-fullscreen .ant-modal-body .ant-range-wrapper .ant-range::-ms-track {
  -webkit-appearance: none;
  box-shadow: none;
  border: none;
  background: transparent;
}

.modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
  width: auto;
  height: auto;
}

.modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
  height: 420px !important;
  position: relative;
  margin: 0 auto;
}

.modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
  position: absolute;
  top: 0;
  -o-object-fit: fill;
     object-fit: fill;
}

.modal-training-module-video-fullscreen .ant-modal-body .space-video-buttons {
  background: #e5e3e3;
  border-radius: 3px;
  padding-left: 10px;
  padding-right: 10px;
}

.modal-training-module-video-fullscreen .ant-modal-close {
  background: #949599;
  color: #fff;
  border-radius: 50%;
  top: -30px;
  right: 0px;
}

.modal-training-module-video-fullscreen .ant-modal-close .ant-modal-close-x {
  width: 25px;
  height: 25px;
  line-height: 25px;
  font-size: 15px;
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
  .modal-training-module-video-fullscreen
.ant-modal-body
.react-player-modal-video-fullscreen
iframe {
    height: 415px !important;
  }
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
  .page-caregiver-training-module .embed-video-iframe iframe {
    width: 100%;
    height: 330px;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div iframe {
    height: 400px !important;
  }
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
  .page-admin-training-module .ant-collapse-header-text > div div:first-child {
    width: 30%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:nth-child(2) {
    width: 60%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    width: 10%;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:first-child {
    width: 30% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:nth-child(2) {
    width: 55% !important;
  }
  .page-caregiver-training-module .ant-progress-wrapper .ant-slider {
    width: 100%;
  }
  .modal-training-module-video-fullscreen {
    width: 80% !important;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div iframe {
    height: 370px !important;
  }
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
  .page-admin-training-module .ant-collapse-header-text > div div:first-child {
    width: 30%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:nth-child(2) {
    width: 60%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    width: 10%;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:first-child {
    width: 30% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:nth-child(2) {
    width: 55% !important;
  }
  .page-caregiver-training-module .ant-progress-wrapper .ant-slider {
    width: 100%;
  }
  .modal-training-module-video-fullscreen {
    width: 80% !important;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div iframe {
    height: 370px !important;
  }
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
  .page-admin-training-module .ant-collapse-header-text > div div:first-child {
    width: 30%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:nth-child(2) {
    width: 60%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    width: 10%;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:first-child {
    width: 30% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:nth-child(2) {
    width: 55% !important;
  }
  .modal-training-module-video-fullscreen {
    width: 90% !important;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div iframe {
    height: 330px !important;
  }
}

/* Media Query for Mobile Devices */
@media (max-width: 575px) {
  .page-caregiver-training-module .react-player-video {
    height: 202px !important;
  }
  .page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start !important;
        -ms-flex-align: start !important;
            align-items: flex-start !important;
  }
  .page-caregiver-training-module .collapse-step-3 .step3-questionaire-carousel .question-step .ant-progress-wrapper {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div iframe {
    height: 270px !important;
  }
}

@media (max-width: 480px) {
  .page-admin-training-module .ant-collapse-header-text > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:first-child {
    width: 30%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:nth-child(2) {
    width: 60%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    width: 10%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    text-align: left !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:first-child {
    width: 30% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:nth-child(2) {
    width: 55% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:last-child {
    width: 15%;
  }
  .page-admin-training-module-add .btn-select-role {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .page-admin-training-module-lesson-edit .show_hide_option .ant-form-item .ant-col {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 50%;
            flex: 0 0 50%;
  }
  .page-admin-training-module-lesson-edit .show_hide_option .ant-form-item .ant-col.ant-form-item-control {
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
  }
  .page-caregiver-training-module .embed-video-iframe iframe {
    width: 100%;
    height: 197px;
  }
  .page-caregiver-training-module .question-step > div:first-child {
    width: 50%;
  }
  .page-caregiver-training-module .question-step > div:last-child {
    width: 50%;
  }
  .page-caregiver-training-module .previous-lesson .ant-anchor-ink::before,
  .page-caregiver-training-module .next-lesson .ant-anchor-ink::before {
    background-color: transparent;
  }
  .page-caregiver-training-module .previous-lesson .ant-btn,
  .page-caregiver-training-module .next-lesson .ant-btn {
    font-size: 12px;
    padding: 4px 10px;
  }
}

@media (max-width: 375px) {
  .page-admin-training-module .ant-collapse-header-text > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:first-child {
    width: 40%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:nth-child(2) {
    width: 50%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    width: 10%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    text-align: left !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:first-child {
    width: 40% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:nth-child(2) {
    width: 45% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:last-child {
    width: 15%;
  }
  .page-caregiver-training-module .embed-video-iframe iframe {
    width: 100%;
    height: 171px;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div iframe {
    height: 200px !important;
  }
}

@media (max-width: 320px) {
  .page-admin-training-module .ant-collapse-header-text > div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:first-child {
    width: 40%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:nth-child(2) {
    width: 50%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    width: 10%;
  }
  .page-admin-training-module .ant-collapse-header-text > div div:last-child {
    text-align: left !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:first-child {
    width: 40% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:nth-child(2) {
    width: 45% !important;
  }
  .page-admin-training-module .ant-collapse-content-box .table tbody tr td:last-child {
    width: 15%;
  }
  .page-admin-training-module-lesson-edit .div-form-list-option-rating .wrap-input-rating .number {
    padding: 5px;
  }
  .page-caregiver-training-module .embed-video-iframe iframe {
    width: 100%;
    height: 159px;
  }
  .modal-training-module-video-fullscreen {
    width: 100% !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen-wrapper {
    width: auto;
    height: auto;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen {
    position: relative;
    margin: 0 auto;
    height: auto !important;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div {
    position: inherit;
    top: 0;
    -o-object-fit: fill;
       object-fit: fill;
  }
  .modal-training-module-video-fullscreen .ant-modal-body .react-player-modal-video-fullscreen > div iframe {
    height: 180px !important;
  }
}
/*# sourceMappingURL=training_module.css.map */