@import "../../variables/variables.scss";

.private-layout .ant-breadcrumb {
	padding: 12px 10px 12px 20px;
	background-color: $breadcrumColor;
	// height: 56px !important;
}
.private-layout .ant-breadcrumb .ant-breadcrumb-link a,
.private-layout .ant-breadcrumb .breadcrumb-item-text {
	font-size: 14px !important;
	color: $breadcrumTextColor;
}
.private-layout .ant-breadcrumb .ant-breadcrumb-link a svg {
	font-size: 16px !important;
}
.ant-breadcrumb-link svg {
	color: $breadcrumIconColor;
}
.ant-breadcrumb-separator svg {
	color: $breadcrumIconColor;
}
.breadcrumb-item-text-last {
	color: $breadcrumLastTextColor !important;
}
