@import "../variables/variables.scss";

// primary
.btn-primary {
    color: $white;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary:hover {
    color: $white;
    background-color: $primaryActive;
    border-color: $primaryActive;
}

.btn-primary:focus {
    color: $white;
    background-color: $primaryActive;
    border-color: $primaryActive;
}

.btn-primary-active {
    color: $white;
    background-color: $primaryActive;
    border-color: $primaryActive;
}

.btn-primary-active:hover {
    color: $white;
    background-color: $primaryActive;
    border-color: $primaryActive;
}

.btn-primary-active:focus {
    color: $white;
    background-color: $primaryActive;
    border-color: $primaryActive;
}

.btn-primary-disabled {
    color: $white;
    background-color: $primaryActive;
    border-color: $primaryActive;
    opacity: $opacity;
}

.btn-primary-disabled:hover {
    color: #fff;
    background-color: $primaryActive;
    border-color: $primaryActive;
    opacity: $opacity;
}

.btn-primary-disabled:focus {
    color: #fff;
    background-color: $primaryActive;
    border-color: $primaryActive;
    opacity: $opacity;
}

// secondary
.btn-secondary {
    color: $white;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary:hover {
    color: $white;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
}

.btn-secondary:focus {
    color: $white;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
}

.btn-secondary-active {
    color: $white;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
}

.btn-secondary-active:hover {
    color: $white;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
}

.btn-secondary-active:focus {
    color: $white;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
}

.btn-secondary-disabled {
    color: $white;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
    opacity: $opacity;
}

.btn-secondary-disabled:hover {
    color: #fff;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
    opacity: $opacity;
}

.btn-secondary-disabled:focus {
    color: #fff;
    background-color: $secondaryActive;
    border-color: $secondaryActive;
    opacity: $opacity;
}

// success
.btn-success {
    color: $white;
    background-color: $success;
    border-color: $success;
}

.btn-success:hover {
    color: $white;
    background-color: $successActive;
    border-color: $successActive;
}

.btn-success:focus {
    color: $white;
    background-color: $successActive;
    border-color: $successActive;
}

.btn-success-active {
    color: $white;
    background-color: $successActive;
    border-color: $successActive;
}

.btn-success-active:hover {
    color: $white;
    background-color: $successActive;
    border-color: $successActive;
}

.btn-success-active:focus {
    color: $white;
    background-color: $successActive;
    border-color: $successActive;
}

.btn-success-disabled {
    color: $white;
    background-color: $successActive;
    border-color: $successActive;
    opacity: $opacity;
}

.btn-success-disabled:hover {
    color: #fff;
    background-color: $successActive;
    border-color: $successActive;
    opacity: $opacity;
}

.btn-success-disabled:focus {
    color: #fff;
    background-color: $successActive;
    border-color: $successActive;
    opacity: $opacity;
}

// warning
.btn-warning {
    color: $white;
    background-color: $warning;
    border-color: $warning;
}

.btn-warning:hover {
    color: $white;
    background-color: $warningActive;
    border-color: $warningActive;
}

.btn-warning:focus {
    color: $white;
    background-color: $warningActive;
    border-color: $warningActive;
}

.btn-warning-active {
    color: $white;
    background-color: $warningActive;
    border-color: $warningActive;
}

.btn-warning-active:hover {
    color: $white;
    background-color: $warningActive;
    border-color: $warningActive;
}

.btn-warning-active:focus {
    color: $white;
    background-color: $warningActive;
    border-color: $warningActive;
}

.btn-warning-disabled {
    color: $white;
    background-color: $warningActive;
    border-color: $warningActive;
    opacity: $opacity;
}

.btn-warning-disabled:hover {
    color: #fff;
    background-color: $warningActive;
    border-color: $warningActive;
    opacity: $opacity;
}

.btn-warning-disabled:focus {
    color: #fff;
    background-color: $warningActive;
    border-color: $warningActive;
    opacity: $opacity;
}

// danger
.btn-danger {
    color: $white;
    background-color: $danger;
    border-color: $danger;
}

.btn-danger:hover {
    color: $white;
    background-color: $dangerActive;
    border-color: $dangerActive;
}

.btn-danger:focus {
    color: $white;
    background-color: $dangerActive;
    border-color: $dangerActive;
}

.btn-danger-active {
    color: $white;
    background-color: $dangerActive;
    border-color: $dangerActive;
}

.btn-danger-active:hover {
    color: $white;
    background-color: $dangerActive;
    border-color: $dangerActive;
}

.btn-danger-active:focus {
    color: $white;
    background-color: $dangerActive;
    border-color: $dangerActive;
}

.btn-danger-disabled {
    color: $white;
    background-color: $dangerActive;
    border-color: $dangerActive;
    opacity: $opacity;
}

.btn-danger-disabled:hover {
    color: #fff;
    background-color: $dangerActive;
    border-color: $dangerActive;
    opacity: $opacity;
}

.btn-danger-disabled:focus {
    color: #fff;
    background-color: $dangerActive;
    border-color: $dangerActive;
    opacity: $opacity;
}

// info
.btn-info {
    color: $white;
    background-color: $info;
    border-color: $info;
}

.btn-info:hover {
    color: $white;
    background-color: $infoActive;
    border-color: $infoActive;
}

.btn-info:focus {
    color: $white;
    background-color: $infoActive;
    border-color: $infoActive;
}

.btn-info-active {
    color: $white;
    background-color: $infoActive;
    border-color: $infoActive;
}

.btn-info-active:hover {
    color: $white;
    background-color: $infoActive;
    border-color: $infoActive;
}

.btn-info-active:focus {
    color: $white;
    background-color: $infoActive;
    border-color: $infoActive;
}

.btn-info-disabled {
    color: $white;
    background-color: $infoActive;
    border-color: $infoActive;
    opacity: $opacity;
}

.btn-info-disabled:hover {
    color: #fff;
    background-color: $infoActive;
    border-color: $infoActive;
    opacity: $opacity;
}

.btn-info-disabled:focus {
    color: #fff;
    background-color: $infoActive;
    border-color: $infoActive;
    opacity: $opacity;
}

// indigo
.btn-indigo {
    color: $white;
    background-color: $indigo;
    border-color: $indigo;
}

.btn-indigo:hover {
    color: $white;
    background-color: $indigoActive;
    border-color: $indigoActive;
}

.btn-indigo:focus {
    color: $white;
    background-color: $indigoActive;
    border-color: $indigoActive;
}

.btn-indigo-active {
    color: $white;
    background-color: $indigoActive;
    border-color: $indigoActive;
}

.btn-indigo-active:hover {
    color: $white;
    background-color: $indigoActive;
    border-color: $indigoActive;
}

.btn-indigo-active:focus {
    color: $white;
    background-color: $indigoActive;
    border-color: $indigoActive;
}

.btn-indigo-disabled {
    color: $white;
    background-color: $indigoActive;
    border-color: $indigoActive;
    opacity: $opacity;
}

.btn-indigo-disabled:hover {
    color: #fff;
    background-color: $indigoActive;
    border-color: $indigoActive;
    opacity: $opacity;
}

.btn-indigo-disabled:focus {
    color: #fff;
    background-color: $indigoActive;
    border-color: $indigoActive;
    opacity: $opacity;
}

// purple
.btn-purple {
    color: $white;
    background-color: $purple;
    border-color: $purple;
}

.btn-purple:hover {
    color: $white;
    background-color: $purpleActive;
    border-color: $purpleActive;
}

.btn-purple:focus {
    color: $white;
    background-color: $purpleActive;
    border-color: $purpleActive;
}

.btn-purple-active {
    color: $white;
    background-color: $purpleActive;
    border-color: $purpleActive;
}

.btn-purple-active:hover {
    color: $white;
    background-color: $purpleActive;
    border-color: $purpleActive;
}

.btn-purple-active:focus {
    color: $white;
    background-color: $purpleActive;
    border-color: $purpleActive;
}

.btn-purple-disabled {
    color: $white;
    background-color: $purpleActive;
    border-color: $purpleActive;
    opacity: $opacity;
}

.btn-purple-disabled:hover {
    color: #fff;
    background-color: $purpleActive;
    border-color: $purpleActive;
    opacity: $opacity;
}

.btn-purple-disabled:focus {
    color: #fff;
    background-color: $purpleActive;
    border-color: $purpleActive;
    opacity: $opacity;
}

// pink
.btn-pink {
    color: $white;
    background-color: $pink;
    border-color: $pink;
}

.btn-pink:hover {
    color: $white;
    background-color: $pinkActive;
    border-color: $pinkActive;
}

.btn-pink:focus {
    color: $white;
    background-color: $pinkActive;
    border-color: $pinkActive;
}

.btn-pink-active {
    color: $white;
    background-color: $pinkActive;
    border-color: $pinkActive;
}

.btn-pink-active:hover {
    color: $white;
    background-color: $pinkActive;
    border-color: $pinkActive;
}

.btn-pink-active:focus {
    color: $white;
    background-color: $pinkActive;
    border-color: $pinkActive;
}

.btn-pink-disabled {
    color: $white;
    background-color: $pinkActive;
    border-color: $pinkActive;
    opacity: $opacity;
}

.btn-pink-disabled:hover {
    color: #fff;
    background-color: $pinkActive;
    border-color: $pinkActive;
    opacity: $opacity;
}

.btn-pink-disabled:focus {
    color: #fff;
    background-color: $pinkActive;
    border-color: $pinkActive;
    opacity: $opacity;
}

// teal
.btn-teal {
    color: $white;
    background-color: $teal;
    border-color: $teal;
}

.btn-teal:hover {
    color: $white;
    background-color: $tealActive;
    border-color: $tealActive;
}

.btn-teal:focus {
    color: $white;
    background-color: $tealActive;
    border-color: $tealActive;
}

.btn-teal-active {
    color: $white;
    background-color: $tealActive;
    border-color: $tealActive;
}

.btn-teal-active:hover {
    color: $white;
    background-color: $tealActive;
    border-color: $tealActive;
}

.btn-teal-active:focus {
    color: $white;
    background-color: $tealActive;
    border-color: $tealActive;
}

.btn-teal-disabled {
    color: $white;
    background-color: $tealActive;
    border-color: $tealActive;
    opacity: $opacity;
}

.btn-teal-disabled:hover {
    color: #fff;
    background-color: $tealActive;
    border-color: $tealActive;
    opacity: $opacity;
}

.btn-teal-disabled:focus {
    color: #fff;
    background-color: $tealActive;
    border-color: $tealActive;
    opacity: $opacity;
}

// dark
.btn-dark {
    color: $white;
    background-color: $dark;
    border-color: $dark;
}

.btn-dark:hover {
    color: $white;
    background-color: $darkActive;
    border-color: $darkActive;
}

.btn-dark:focus {
    color: $white;
    background-color: $darkActive;
    border-color: $darkActive;
}

.btn-dark-active {
    color: $white;
    background-color: $darkActive;
    border-color: $darkActive;
}

.btn-dark-active:hover {
    color: $white;
    background-color: $darkActive;
    border-color: $darkActive;
}

.btn-dark-active:focus {
    color: $white;
    background-color: $darkActive;
    border-color: $darkActive;
}

.btn-dark-disabled {
    color: $white;
    background-color: $darkActive;
    border-color: $darkActive;
    opacity: $opacity;
}

.btn-dark-disabled:hover {
    color: #fff;
    background-color: $darkActive;
    border-color: $darkActive;
    opacity: $opacity;
}

.btn-dark-disabled:focus {
    color: #fff;
    background-color: $darkActive;
    border-color: $darkActive;
    opacity: $opacity;
}

/* primary-outline */
.btn-primary-outline {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
}

.btn-primary-outline:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary-outline:focus {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary-outline-active {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary-outline-active:hover {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary-outline-active:focus {
    color: #fff;
    background-color: $primary;
    border-color: $primary;
}

.btn-primary-outline-disabled {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    opacity: 0.6;
}

.btn-primary-outline-disabled:hover {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    opacity: 0.6;
}

.btn-primary-outline-disabled:focus {
    color: $primary;
    background-color: transparent;
    border-color: $primary;
    opacity: 0.6;
}

/* secondary-outline */
.btn-secondary-outline {
    color: $secondary;
    background-color: transparent;
    border-color: $secondary;
}

.btn-secondary-outline:hover {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary-outline:focus {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary-outline-active {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary-outline-active:hover {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary-outline-active:focus {
    color: #fff;
    background-color: $secondary;
    border-color: $secondary;
}

.btn-secondary-outline-disabled {
    color: $secondary;
    background-color: transparent;
    border-color: $secondary;
    opacity: 0.6;
}

.btn-secondary-outline-disabled:hover {
    color: $secondary;
    background-color: transparent;
    border-color: $secondary;
    opacity: 0.6;
}

.btn-secondary-outline-disabled:focus {
    color: $secondary;
    background-color: transparent;
    border-color: $secondary;
    opacity: 0.6;
}

/* success-outline */
.btn-success-outline {
    color: $success;
    background-color: transparent;
    border-color: $success;
}

.btn-success-outline:hover {
    color: #fff;
    background-color: $success;
    border-color: $success;
}

.btn-success-outline:focus {
    color: #fff;
    background-color: $success;
    border-color: $success;
}

.btn-success-outline-active {
    color: #fff;
    background-color: $success;
    border-color: $success;
}

.btn-success-outline-active:hover {
    color: #fff;
    background-color: $success;
    border-color: $success;
}

.btn-success-outline-active:focus {
    color: #fff;
    background-color: $success;
    border-color: $success;
}

.btn-success-outline-disabled {
    color: $success;
    background-color: transparent;
    border-color: $success;
    opacity: 0.6;
}

.btn-success-outline-disabled:hover {
    color: $success;
    background-color: transparent;
    border-color: $success;
    opacity: 0.6;
}

.btn-success-outline-disabled:focus {
    color: $success;
    background-color: transparent;
    border-color: $success;
    opacity: 0.6;
}

/* warning-outline */
.btn-warning-outline {
    color: $warning;
    background-color: transparent;
    border-color: $warning;
}

.btn-warning-outline:hover {
    color: #fff;
    background-color: $warning;
    border-color: $warning;
}

.btn-warning-outline:focus {
    color: #fff;
    background-color: $warning;
    border-color: $warning;
}

.btn-warning-outline-active {
    color: #fff;
    background-color: $warning;
    border-color: $warning;
}

.btn-warning-outline-active:hover {
    color: #fff;
    background-color: $warning;
    border-color: $warning;
}

.btn-warning-outline-active:focus {
    color: #fff;
    background-color: $warning;
    border-color: $warning;
}

.btn-warning-outline-disabled {
    color: $warning;
    background-color: transparent;
    border-color: $warning;
    opacity: 0.6;
}

.btn-warning-outline-disabled:hover {
    color: $warning;
    background-color: transparent;
    border-color: $warning;
    opacity: 0.6;
}

.btn-warning-outline-disabled:focus {
    color: $warning;
    background-color: transparent;
    border-color: $warning;
    opacity: 0.6;
}

/* danger-outline */
.btn-danger-outline {
    color: $danger;
    background-color: transparent;
    border-color: $danger;
}

.btn-danger-outline:hover {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
}

.btn-danger-outline:focus {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
}

.btn-danger-outline-active {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
}

.btn-danger-outline-active:hover {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
}

.btn-danger-outline-active:focus {
    color: #fff;
    background-color: $danger;
    border-color: $danger;
}

.btn-danger-outline-disabled {
    color: $danger;
    background-color: transparent;
    border-color: $danger;
    opacity: 0.6;
}

.btn-danger-outline-disabled:hover {
    color: $danger;
    background-color: transparent;
    border-color: $danger;
    opacity: 0.6;
}

.btn-danger-outline-disabled:focus {
    color: $danger;
    background-color: transparent;
    border-color: $danger;
    opacity: 0.6;
}

/* info-outline */
.btn-info-outline {
    color: $info;
    background-color: transparent;
    border-color: $info;
}

.btn-info-outline:hover {
    color: #fff;
    background-color: $info;
    border-color: $info;
}

.btn-info-outline:focus {
    color: #fff;
    background-color: $info;
    border-color: $info;
}

.btn-info-outline-active {
    color: #fff;
    background-color: $info;
    border-color: $info;
}

.btn-info-outline-active:hover {
    color: #fff;
    background-color: $info;
    border-color: $info;
}

.btn-info-outline-active:focus {
    color: #fff;
    background-color: $info;
    border-color: $info;
}

.btn-info-outline-disabled {
    color: $info;
    background-color: transparent;
    border-color: $info;
    opacity: 0.6;
}

.btn-info-outline-disabled:hover {
    color: $info;
    background-color: transparent;
    border-color: $info;
    opacity: 0.6;
}

.btn-info-outline-disabled:focus {
    color: $info;
    background-color: transparent;
    border-color: $info;
    opacity: 0.6;
}

/* indigo-outline */
.btn-indigo-outline {
    color: $indigo;
    background-color: transparent;
    border-color: $indigo;
}

.btn-indigo-outline:hover {
    color: #fff;
    background-color: $indigo;
    border-color: $indigo;
}

.btn-indigo-outline:focus {
    color: #fff;
    background-color: $indigo;
    border-color: $indigo;
}

.btn-indigo-outline-active {
    color: #fff;
    background-color: $indigo;
    border-color: $indigo;
}

.btn-indigo-outline-active:hover {
    color: #fff;
    background-color: $indigo;
    border-color: $indigo;
}

.btn-indigo-outline-active:focus {
    color: #fff;
    background-color: $indigo;
    border-color: $indigo;
}

.btn-indigo-outline-disabled {
    color: $indigo;
    background-color: transparent;
    border-color: $indigo;
    opacity: 0.6;
}

.btn-indigo-outline-disabled:hover {
    color: $indigo;
    background-color: transparent;
    border-color: $indigo;
    opacity: 0.6;
}

.btn-indigo-outline-disabled:focus {
    color: $indigo;
    background-color: transparent;
    border-color: $indigo;
    opacity: 0.6;
}

/* purple-outline */
.btn-purple-outline {
    color: $purple;
    background-color: transparent;
    border-color: $purple;
}

.btn-purple-outline:hover {
    color: #fff;
    background-color: $purple;
    border-color: $purple;
}

.btn-purple-outline:focus {
    color: #fff;
    background-color: $purple;
    border-color: $purple;
}

.btn-purple-outline-active {
    color: #fff;
    background-color: $purple;
    border-color: $purple;
}

.btn-purple-outline-active:hover {
    color: #fff;
    background-color: $purple;
    border-color: $purple;
}

.btn-purple-outline-active:focus {
    color: #fff;
    background-color: $purple;
    border-color: $purple;
}

.btn-purple-outline-disabled {
    color: $purple;
    background-color: transparent;
    border-color: $purple;
    opacity: 0.6;
}

.btn-purple-outline-disabled:hover {
    color: $purple;
    background-color: transparent;
    border-color: $purple;
    opacity: 0.6;
}

.btn-purple-outline-disabled:focus {
    color: $purple;
    background-color: transparent;
    border-color: $purple;
    opacity: 0.6;
}

/* pink-outline */
.btn-pink-outline {
    color: $pink;
    background-color: transparent;
    border-color: $pink;
}

.btn-pink-outline:hover {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
}

.btn-pink-outline:focus {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
}

.btn-pink-outline-active {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
}

.btn-pink-outline-active:hover {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
}

.btn-pink-outline-active:focus {
    color: #fff;
    background-color: $pink;
    border-color: $pink;
}

.btn-pink-outline-disabled {
    color: $pink;
    background-color: transparent;
    border-color: $pink;
    opacity: 0.6;
}

.btn-pink-outline-disabled:hover {
    color: $pink;
    background-color: transparent;
    border-color: $pink;
    opacity: 0.6;
}

.btn-pink-outline-disabled:focus {
    color: $pink;
    background-color: transparent;
    border-color: $pink;
    opacity: 0.6;
}

/* teal-outline */
.btn-teal-outline {
    color: $teal;
    background-color: transparent;
    border-color: $teal;
}

.btn-teal-outline:hover {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}

.btn-teal-outline:focus {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}

.btn-teal-outline-active {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}

.btn-teal-outline-active:hover {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}

.btn-teal-outline-active:focus {
    color: #fff;
    background-color: $teal;
    border-color: $teal;
}

.btn-teal-outline-disabled {
    color: $teal;
    background-color: transparent;
    border-color: $teal;
    opacity: 0.6;
}

.btn-teal-outline-disabled:hover {
    color: $teal;
    background-color: transparent;
    border-color: $teal;
    opacity: 0.6;
}

.btn-teal-outline-disabled:focus {
    color: $teal;
    background-color: transparent;
    border-color: $teal;
    opacity: 0.6;
}

/* dark-outline */
.btn-dark-outline {
    color: $dark;
    background-color: transparent;
    border-color: $dark;
}

.btn-dark-outline:hover {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn-dark-outline:focus {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn-dark-outline-active {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn-dark-outline-active:hover {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn-dark-outline-active:focus {
    color: #fff;
    background-color: $dark;
    border-color: $dark;
}

.btn-dark-outline-disabled {
    color: $dark;
    background-color: transparent;
    border-color: $dark;
    opacity: 0.6;
}

.btn-dark-outline-disabled:hover {
    color: $dark;
    background-color: transparent;
    border-color: $dark;
    opacity: 0.6;
}

.btn-dark-outline-disabled:focus {
    color: $dark;
    background-color: transparent;
    border-color: $dark;
    opacity: 0.6;
}
