@import "../../variables/variables.scss";
.page-admin-revenue {
	.collapse-result-total {
		.ant-collapse-item {
			.ant-collapse-content {
				border-top: 0px;
			}
			.ant-collapse-content > .ant-collapse-content-box {
				padding: 0px;
			}
		}
	}
}

.modal-customer-invoice {
	.ant-modal-close {
		background: #949599;
		color: #fff;
		border-radius: 50%;
		top: -25px;
		right: -25px;

		.ant-modal-close-x {
			width: 25px;
			height: 25px;
			line-height: 25px;
			font-size: 15px;
		}
	}
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
