@import "../variables/variables.scss";

// primary
.primary-collapse {
    background-color: $accordionBorder;
    color: $secondary;
}

.primary-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $primary;
    border: 1px solid $primary;
    color: $white;
}

// secondary
.secondary-collapse {
    background-color: $accordionBorder;
    color: $secondary;
}

.secondary-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $secondary;
    border: 1px solid $secondary;
    color: $white;
}

// success
.success-collapse {
    background-color: $accordionBorder;
    color: $success;
}

.success-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $success;
    border: 1px solid $success;
    color: $white;
}

// warning
.warning-collapse {
    background-color: $accordionBorder;
    color: $warning;
}

.warning-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $warning;
    border: 1px solid $warning;
    color: $white;
}

// danger
.danger-collapse {
    background-color: $accordionBorder;
    color: $danger;
}

.danger-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $danger;
    border: 1px solid $danger;
    color: $white;
}

// info
.info-collapse {
    background-color: $accordionBorder;
    color: $info;
}

.info-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $info;
    border: 1px solid $info;
    color: $white;
}

// indigo
.indigo-collapse {
    background-color: $accordionBorder;
    color: $indigo;
}

.indigo-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $indigo;
    border: 1px solid $indigo;
    color: $white;
}

// purple
.purple-collapse {
    background-color: $accordionBorder;
    color: $purple;
}

.purple-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $purple;
    border: 1px solid $purple;
    color: $white;
}

// pink
.pink-collapse {
    background-color: $accordionBorder;
    color: $pink;
}

.pink-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $pink;
    border: 1px solid $pink;
    color: $white;
}

// teal
.teal-collapse {
    background-color: $accordionBorder;
    color: $teal;
}

.teal-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $teal;
    border: 1px solid $teal;
    color: $white;
}

// dark
.dark-collapse {
    background-color: $accordionBorder;
    color: $dark;
}

.dark-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $dark;
    border: 1px solid $dark;
    color: $white;
}

// orange
.orange-collapse {
    background-color: $accordionBorder;
    color: $orange;
}

.orange-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: $orange;
    border: 1px solid $orange;
    color: $white;
}

// login
.login-collapse {
    background-color: transparent;
    color: $login;
    border: 0px;

    .ant-collapse-content {
        background: transparent;
        border: 0px;
    }

    .ant-collapse-item {
        border: 0px;
    }

    .ant-collapse-arrow {
        width: 33px;
        height: 33px;
        border: 1px solid $login;
        font-size: 23px !important;
        padding-top: 4px;
        background: $login;
        color: $white;
    }

    .ant-collapse-content > .ant-collapse-content-box {
        padding-top: 0px;
        text-align: left;
        margin-top: -13px;
    }
}

.login-collapse > .ant-collapse-item > .ant-collapse-header:focus {
    outline: none;
    background-color: transparent;
    border: 0px;
    // color: $white;
}
