.btn-main {
  color: #ffffff;
  background-color: #79390f;
  border-color: #79390f;
}

.btn-main:hover {
  color: #ffffff;
  background-color: #3f5fac;
  border-color: #3f5fac;
}

.ant-upload-drag-icon {
  height: 10%;
}

.ant-upload-select-picture {
  min-height: 200px;
}

.btn-main:focus {
  color: #ffffff;
  background-color: #3f5fac;
  border-color: #3f5fac;
}

.btn-main-active {
  color: #ffffff;
  background-color: #3f5fac;
  border-color: #3f5fac;
}

.btn-main-active:hover {
  color: #ffffff;
  background-color: #3f5fac;
  border-color: #3f5fac;
}

.btn-main-active:focus {
  color: #ffffff;
  background-color: #3f5fac;
  border-color: #3f5fac;
}

.btn-main-disabled {
  color: #ffffff;
  background-color: #3f5fac;
  border-color: #3f5fac;
  opacity: 0.6;
}

.btn-main-disabled:hover {
  color: #fff;
  background-color: #3f5fac;
  border-color: #3f5fac;
  opacity: 0.6;
}

.btn-main-3 {
  color: #358e8f;
  background-color: transparent;
  border-color: #358e8f;
}

.btn-main-3:hover {
  color: #ffffff;
  background-color: #358e8f;
  border-color: #358e8f;
}

.btn-main-3:focus {
  color: #ffffff;
  background-color: #358e8f;
  border-color: #358e8f;
}

.btn-main-4 {
  color: #ffffff;
  background-color: #358e8f;
  border-color: #358e8f;
}

.btn-main-4:hover {
  color: #ffffff;
  background-color: #0e5729;
  border-color: #358e8f;
}

.btn-main-4:focus {
  color: #ffffff;
  background-color: #358e8f;
  border-color: #358e8f;
}

.btn-main-2 {
  color: #79390f;
  background-color: transparent;
  border-color: #79390f;
}

.slot-btn:active,
.slot-btn:focus {
  background: #3f5fac;
  color: #ffffff;
}

.btn-main-2:hover {
  color: #ffffff;
  background-color: #79390f;
  border-color: #79390f;
}

.btn-main-2:focus {
  color: #ffffff;
  background-color: #79390f;
  border-color: #79390f;
}

/** invert */
.btn-main-invert {
  color: #ffffff;
  background-color: #e4151f;
  border-color: #e4151f;
}

.btn-main-invert:hover {
  color: #e4151f;
  background-color: #ffffff;
  border-color: #e4151f;
}

.btn-main-invert:focus {
  color: #e4151f;
  background-color: #ffffff;
  border-color: #e4151f;
}

.btn-main-invert-active {
  color: #ffffff;
  background-color: #e4151f;
  border-color: #e4151f;
}

.btn-main-invert-active:hover {
  color: #e4151f;
  background-color: #ffffff;
  border-color: #e4151f;
}

.btn-main-invert-active:focus {
  color: #e4151f;
  background-color: #ffffff;
  border-color: #e4151f;
}

.btn-main-invert-disabled {
  color: #ffffff;
  background-color: #e4151f;
  border-color: #e4151f;
  opacity: 0.6;
}

.btn-main-invert-disabled:hover {
  color: #ffffff;
  background-color: #e4151f;
  border-color: #e4151f;
  opacity: 0.6;
}

/** ========================== */
.btn-task-card span {
  margin-left: 10px !important;
  font-size: 20px;
}

.btn-primary {
  color: #ffffff;
  background-color: #325db8;
  border-color: #325db8;
}

.btn-primary:hover {
  color: #ffffff;
  background-color: #0753a1;
  border-color: #0753a1;
}

.btn-primary:focus {
  color: #ffffff;
  background-color: #0753a1;
  border-color: #0753a1;
}

.btn-primary-active {
  color: #ffffff;
  background-color: #0753a1;
  border-color: #0753a1;
}

.btn-primary-active:hover {
  color: #ffffff;
  background-color: #0753a1;
  border-color: #0753a1;
}

.btn-primary-active:focus {
  color: #ffffff;
  background-color: #0753a1;
  border-color: #0753a1;
}

.btn-primary-disabled {
  color: #ffffff;
  background-color: #0753a1;
  border-color: #0753a1;
  opacity: 0.6;
}

.btn-primary-disabled:hover {
  color: #fff;
  background-color: #0753a1;
  border-color: #0753a1;
  opacity: 0.6;
}

.btn-primary-disabled:focus {
  color: #fff;
  background-color: #0753a1;
  border-color: #0753a1;
  opacity: 0.6;
}

.btn-secondary {
  color: #ffffff;
  background-color: #868e96;
  border-color: #868e96;
}

.btn-secondary:hover {
  color: #ffffff;
  background-color: #727b84;
  border-color: #727b84;
}

.btn-secondary:focus {
  color: #ffffff;
  background-color: #727b84;
  border-color: #727b84;
}

.btn-secondary-active {
  color: #ffffff;
  background-color: #727b84;
  border-color: #727b84;
}

.btn-secondary-active:hover {
  color: #ffffff;
  background-color: #727b84;
  border-color: #727b84;
}

.btn-secondary-active:focus {
  color: #ffffff;
  background-color: #727b84;
  border-color: #727b84;
}

.btn-secondary-disabled {
  color: #ffffff;
  background-color: #727b84;
  border-color: #727b84;
  opacity: 0.6;
}

.btn-secondary-disabled:hover {
  color: #fff;
  background-color: #727b84;
  border-color: #727b84;
  opacity: 0.6;
}

.btn-secondary-disabled:focus {
  color: #fff;
  background-color: #727b84;
  border-color: #727b84;
  opacity: 0.6;
}

.btn-success {
  color: #ffffff;
  background-color: #239904;
  border-color: #239904;
}

.btn-success:hover {
  color: #ffffff;
  background-color: #1c9a06;
  border-color: #1c9a06;
}

.btn-success:focus {
  color: #ffffff;
  background-color: #1c9a06;
  border-color: #1c9a06;
}

.btn-success-active {
  color: #ffffff;
  background-color: #1c9a06;
  border-color: #1c9a06;
}

.btn-success-active:hover {
  color: #ffffff;
  background-color: #1c9a06;
  border-color: #1c9a06;
}

.btn-success-active:focus {
  color: #ffffff;
  background-color: #1c9a06;
  border-color: #1c9a06;
}

.btn-success-disabled {
  color: #ffffff;
  background-color: #1c9a06;
  border-color: #1c9a06;
  opacity: 0.6;
}

.btn-success-disabled:hover {
  color: #fff;
  background-color: #1c9a06;
  border-color: #1c9a06;
  opacity: 0.6;
}

.btn-success-disabled:focus {
  color: #fff;
  background-color: #1c9a06;
  border-color: #1c9a06;
  opacity: 0.6;
}

.btn-warning {
  color: #ffffff;
  background-color: #a90505;
  border-color: #a90505;
}

.btn-warning:hover {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning:focus {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning-active {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning-active:hover {
  color: #ffffff;
  background-color: #da850a;
  border-color: #da850a;
}

.btn-warning-active:focus {
  color: #ffffff;
  background-color: #da850a;
  border-color: #da850a;
}

.btn-warning-disabled {
  color: #ffffff;
  background-color: #da850a;
  border-color: #da850a;
  opacity: 0.6;
}

.btn-warning-disabled:hover {
  color: #fff;
  background-color: #da850a;
  border-color: #da850a;
  opacity: 0.6;
}

.btn-warning-disabled:focus {
  color: #fff;
  background-color: #da850a;
  border-color: #da850a;
  opacity: 0.6;
}

.btn-danger {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger:hover {
  color: #ffffff;
  background-color: #c82333;
  border-color: #c82333;
}

.btn-danger:focus {
  color: #ffffff;
  background-color: #c82333;
  border-color: #c82333;
}

.btn-danger-active {
  color: #ffffff;
  background-color: #c82333;
  border-color: #c82333;
}

.btn-danger-active:hover {
  color: #ffffff;
  background-color: #c82333;
  border-color: #c82333;
}

.btn-danger-active:focus {
  color: #ffffff;
  background-color: #c82333;
  border-color: #c82333;
}

.btn-danger-disabled {
  color: #ffffff;
  background-color: #c82333;
  border-color: #c82333;
  opacity: 0.6;
}

.btn-danger-disabled:hover {
  color: #fff;
  background-color: #c82333;
  border-color: #c82333;
  opacity: 0.6;
}

.btn-danger-disabled:focus {
  color: #fff;
  background-color: #c82333;
  border-color: #c82333;
  opacity: 0.6;
}

.btn-info {
  color: #ffffff;
  background-color: #5b93d3;
  border-color: #5b93d3;
}

.btn-info:hover {
  color: #ffffff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
}

.btn-info:focus {
  color: #ffffff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
}

.btn-info-active {
  color: #ffffff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
}

.btn-info-active:hover {
  color: #ffffff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
}

.btn-info-active:focus {
  color: #ffffff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
}

.btn-info-disabled {
  color: #ffffff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
  opacity: 0.6;
}

.btn-info-disabled:hover {
  color: #fff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
  opacity: 0.6;
}

.btn-info-disabled:focus {
  color: #fff;
  background-color: #3d7fcb;
  border-color: #3d7fcb;
  opacity: 0.6;
}

.btn-indigo {
  color: #ffffff;
  background-color: #6610f2;
  border-color: #6610f2;
}

.btn-indigo:hover {
  color: #ffffff;
  background-color: #560bd0;
  border-color: #560bd0;
}

.btn-indigo:focus {
  color: #ffffff;
  background-color: #560bd0;
  border-color: #560bd0;
}

.btn-indigo-active {
  color: #ffffff;
  background-color: #560bd0;
  border-color: #560bd0;
}

.btn-indigo-active:hover {
  color: #ffffff;
  background-color: #560bd0;
  border-color: #560bd0;
}

.btn-indigo-active:focus {
  color: #ffffff;
  background-color: #560bd0;
  border-color: #560bd0;
}

.btn-indigo-disabled {
  color: #ffffff;
  background-color: #560bd0;
  border-color: #560bd0;
  opacity: 0.6;
}

.btn-indigo-disabled:hover {
  color: #fff;
  background-color: #560bd0;
  border-color: #560bd0;
  opacity: 0.6;
}

.btn-indigo-disabled:focus {
  color: #fff;
  background-color: #560bd0;
  border-color: #560bd0;
  opacity: 0.6;
}

.btn-purple {
  color: #ffffff;
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-purple:hover {
  color: #ffffff;
  background-color: #5e37a6;
  border-color: #5e37a6;
}

.btn-purple:focus {
  color: #ffffff;
  background-color: #5e37a6;
  border-color: #5e37a6;
}

.btn-purple-active {
  color: #ffffff;
  background-color: #5e37a6;
  border-color: #5e37a6;
}

.btn-purple-active:hover {
  color: #ffffff;
  background-color: #5e37a6;
  border-color: #5e37a6;
}

.btn-purple-active:focus {
  color: #ffffff;
  background-color: #5e37a6;
  border-color: #5e37a6;
}

.btn-purple-disabled {
  color: #ffffff;
  background-color: #5e37a6;
  border-color: #5e37a6;
  opacity: 0.6;
}

.btn-purple-disabled:hover {
  color: #fff;
  background-color: #5e37a6;
  border-color: #5e37a6;
  opacity: 0.6;
}

.btn-purple-disabled:focus {
  color: #fff;
  background-color: #5e37a6;
  border-color: #5e37a6;
  opacity: 0.6;
}

.btn-pink {
  color: #ffffff;
  background-color: #e83e8c;
  border-color: #e83e8c;
}

.btn-pink:hover {
  color: #ffffff;
  background-color: #e41c78;
  border-color: #e41c78;
}

.btn-pink:focus {
  color: #ffffff;
  background-color: #e41c78;
  border-color: #e41c78;
}

.btn-pink-active {
  color: #ffffff;
  background-color: #e41c78;
  border-color: #e41c78;
}

.btn-pink-active:hover {
  color: #ffffff;
  background-color: #e41c78;
  border-color: #e41c78;
}

.btn-pink-active:focus {
  color: #ffffff;
  background-color: #e41c78;
  border-color: #e41c78;
}

.btn-pink-disabled {
  color: #ffffff;
  background-color: #e41c78;
  border-color: #e41c78;
  opacity: 0.6;
}

.btn-pink-disabled:hover {
  color: #fff;
  background-color: #e41c78;
  border-color: #e41c78;
  opacity: 0.6;
}

.btn-pink-disabled:focus {
  color: #fff;
  background-color: #e41c78;
  border-color: #e41c78;
  opacity: 0.6;
}

.btn-teal {
  color: #ffffff;
  background-color: #1caf9a;
  border-color: #1caf9a;
}

.btn-teal:hover {
  color: #ffffff;
  background-color: #178e7d;
  border-color: #178e7d;
}

.btn-teal:focus {
  color: #ffffff;
  background-color: #178e7d;
  border-color: #178e7d;
}

.btn-teal-active {
  color: #ffffff;
  background-color: #178e7d;
  border-color: #178e7d;
}

.btn-teal-active:hover {
  color: #ffffff;
  background-color: #178e7d;
  border-color: #178e7d;
}

.btn-teal-active:focus {
  color: #ffffff;
  background-color: #178e7d;
  border-color: #178e7d;
}

.btn-teal-disabled {
  color: #ffffff;
  background-color: #178e7d;
  border-color: #178e7d;
  opacity: 0.6;
}

.btn-teal-disabled:hover {
  color: #fff;
  background-color: #178e7d;
  border-color: #178e7d;
  opacity: 0.6;
}

.btn-teal-disabled:focus {
  color: #fff;
  background-color: #178e7d;
  border-color: #178e7d;
  opacity: 0.6;
}

.btn-dark {
  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark:hover {
  color: #ffffff;
  background-color: #23272b;
  border-color: #23272b;
}

.btn-dark:focus {
  color: #ffffff;
  background-color: #23272b;
  border-color: #23272b;
}

.btn-dark-active {
  color: #ffffff;
  background-color: #23272b;
  border-color: #23272b;
}

.btn-dark-active:hover {
  color: #ffffff;
  background-color: #23272b;
  border-color: #23272b;
}

.btn-dark-active:focus {
  color: #ffffff;
  background-color: #23272b;
  border-color: #23272b;
}

.btn-dark-disabled {
  color: #ffffff;
  background-color: #23272b;
  border-color: #23272b;
  opacity: 0.6;
}

.btn-dark-disabled:hover {
  color: #fff;
  background-color: #23272b;
  border-color: #23272b;
  opacity: 0.6;
}

.btn-dark-disabled:focus {
  color: #fff;
  background-color: #23272b;
  border-color: #23272b;
  opacity: 0.6;
}

/** outline */
/* primary-outline */
.btn-primary-outline {
  color: #ffffff;
  background-color: #325db8;
  border-color: #325db8;
}

.btn-primary-outline:hover {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
}

.btn-primary-outline:focus {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
}

.btn-primary-outline-active {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
}

.btn-primary-outline-active:hover {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
}

.btn-primary-outline-active:focus {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
}

.btn-primary-outline-disabled {
  color: #ffffff;
  background-color: #325db8;
  border-color: #325db8;
  opacity: 0.6;
}

.btn-primary-outline-disabled:hover {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
  opacity: 0.6;
}

.btn-primary-outline-disabled:focus {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
  opacity: 0.6;
}

/* secondary-outline */
.btn-secondary-outline {
  color: #ffffff;
  background-color: #868e96;
  border-color: #868e96;
}

.btn-secondary-outline:hover {
  color: #868e96;
  background-color: #ffffff;
  border-color: #868e96;
}

.btn-secondary-outline:focus {
  color: #868e96;
  background-color: #ffffff;
  border-color: #868e96;
}

.btn-secondary-outline-active {
  color: #868e96;
  background-color: #ffffff;
  border-color: #868e96;
}

.btn-secondary-outline-active:hover {
  color: #868e96;
  background-color: #ffffff;
  border-color: #868e96;
}

.btn-secondary-outline-active:focus {
  color: #868e96;
  background-color: #ffffff;
  border-color: #868e96;
}

.btn-secondary-outline-disabled {
  color: #ffffff;
  background-color: #868e96;
  border-color: #868e96;
  opacity: 0.6;
}

.btn-secondary-outline-disabled:hover {
  color: #868e96;
  background-color: #ffffff;
  border-color: #868e96;
  opacity: 0.6;
}

.btn-secondary-outline-disabled:focus {
  color: #868e96;
  background-color: #ffffff;
  border-color: #868e96;
  opacity: 0.6;
}

/* success-outline */
.btn-success-outline {
  color: #ffffff;
  background-color: #239904;
  border-color: #239904;
}

.btn-success-outline:hover {
  color: #239904;
  background-color: #ffffff;
  border-color: #239904;
}

.btn-success-outline:focus {
  color: #239904;
  background-color: #ffffff;
  border-color: #239904;
}

.btn-success-outline-active {
  color: #239904;
  background-color: #ffffff;
  border-color: #239904;
}

.btn-success-outline-active:hover {
  color: #239904;
  background-color: #ffffff;
  border-color: #239904;
}

.btn-success-outline-active:focus {
  color: #239904;
  background-color: #ffffff;
  border-color: #239904;
}

.btn-success-outline-disabled {
  color: #ffffff;
  background-color: #239904;
  border-color: #239904;
  opacity: 0.6;
}

.btn-success-outline-disabled:hover {
  color: #239904;
  background-color: #ffffff;
  border-color: #239904;
  opacity: 0.6;
}

.btn-success-outline-disabled:focus {
  color: #239904;
  background-color: #ffffff;
  border-color: #239904;
  opacity: 0.6;
}

/* warning-outline */
.btn-warning-outline {
  color: #ffffff;
  background-color: #a90505;
  border-color: #a90505;
}

.btn-warning-outline:hover {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning-outline:focus {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning-outline-active {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning-outline-active:hover {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning-outline-active:focus {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-warning-outline-disabled {
  color: #ffffff;
  background-color: #a90505;
  border-color: #a90505;
  opacity: 0.6;
}

.btn-warning-outline-disabled:hover {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
  opacity: 0.6;
}

.btn-warning-outline-disabled:focus {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
  opacity: 0.6;
}

/* danger-outline */
.btn-danger-outline {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
}

.btn-danger-outline:hover {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
}

.btn-danger-outline:focus {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
}

.btn-danger-outline-active {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
}

.btn-danger-outline-active:hover {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
}

.btn-danger-outline-active:focus {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
}

.btn-danger-outline-disabled {
  color: #ffffff;
  background-color: #dc3545;
  border-color: #dc3545;
  opacity: 0.6;
}

.btn-danger-outline-disabled:hover {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
  opacity: 0.6;
}

.btn-danger-outline-disabled:focus {
  color: #dc3545;
  background-color: #ffffff;
  border-color: #dc3545;
  opacity: 0.6;
}

/* info-outline */
.btn-info-outline {
  color: #ffffff;
  background-color: #5b93d3;
  border-color: #5b93d3;
}

.btn-info-outline:hover {
  color: #5b93d3;
  background-color: #ffffff;
  border-color: #5b93d3;
}

.btn-info-outline:focus {
  color: #5b93d3;
  background-color: #ffffff;
  border-color: #5b93d3;
}

.btn-info-outline-active {
  color: #5b93d3;
  background-color: #ffffff;
  border-color: #5b93d3;
}

.btn-info-outline-active:hover {
  color: #5b93d3;
  background-color: #ffffff;
  border-color: #5b93d3;
}

.btn-info-outline-active:focus {
  color: #5b93d3;
  background-color: #ffffff;
  border-color: #5b93d3;
}

.btn-info-outline-disabled {
  color: #ffffff;
  background-color: #5b93d3;
  border-color: #5b93d3;
  opacity: 0.6;
}

.btn-info-outline-disabled:hover {
  color: #5b93d3;
  background-color: #ffffff;
  border-color: #5b93d3;
  opacity: 0.6;
}

.btn-info-outline-disabled:focus {
  color: #5b93d3;
  background-color: #ffffff;
  border-color: #5b93d3;
  opacity: 0.6;
}

/* indigo-outline */
.btn-indigo-outline {
  color: #ffffff;
  background-color: #6610f2;
  border-color: #6610f2;
}

.btn-indigo-outline:hover {
  color: #6610f2;
  background-color: #ffffff;
  border-color: #6610f2;
}

.btn-indigo-outline:focus {
  color: #6610f2;
  background-color: #ffffff;
  border-color: #6610f2;
}

.btn-indigo-outline-active {
  color: #6610f2;
  background-color: #ffffff;
  border-color: #6610f2;
}

.btn-indigo-outline-active:hover {
  color: #6610f2;
  background-color: #ffffff;
  border-color: #6610f2;
}

.btn-indigo-outline-active:focus {
  color: #6610f2;
  background-color: #ffffff;
  border-color: #6610f2;
}

.btn-indigo-outline-disabled {
  color: #ffffff;
  background-color: #6610f2;
  border-color: #6610f2;
  opacity: 0.6;
}

.btn-indigo-outline-disabled:hover {
  color: #6610f2;
  background-color: #ffffff;
  border-color: #6610f2;
  opacity: 0.6;
}

.btn-indigo-outline-disabled:focus {
  color: #6610f2;
  background-color: #ffffff;
  border-color: #6610f2;
  opacity: 0.6;
}

/* purple-outline */
.btn-purple-outline {
  color: #ffffff;
  background-color: #6f42c1;
  border-color: #6f42c1;
}

.btn-purple-outline:hover {
  color: #6f42c1;
  background-color: #ffffff;
  border-color: #6f42c1;
}

.btn-purple-outline:focus {
  color: #6f42c1;
  background-color: #ffffff;
  border-color: #6f42c1;
}

.btn-purple-outline-active {
  color: #6f42c1;
  background-color: #ffffff;
  border-color: #6f42c1;
}

.btn-purple-outline-active:hover {
  color: #6f42c1;
  background-color: #ffffff;
  border-color: #6f42c1;
}

.btn-purple-outline-active:focus {
  color: #6f42c1;
  background-color: #ffffff;
  border-color: #6f42c1;
}

.btn-purple-outline-disabled {
  color: #ffffff;
  background-color: #6f42c1;
  border-color: #6f42c1;
  opacity: 0.6;
}

.btn-purple-outline-disabled:hover {
  color: #6f42c1;
  background-color: #ffffff;
  border-color: #6f42c1;
  opacity: 0.6;
}

.btn-purple-outline-disabled:focus {
  color: #6f42c1;
  background-color: #ffffff;
  border-color: #6f42c1;
  opacity: 0.6;
}

/* pink-outline */
.btn-pink-outline {
  color: #ffffff;
  background-color: #e83e8c;
  border-color: #e83e8c;
}

.btn-pink-outline:hover {
  color: #e83e8c;
  background-color: #ffffff;
  border-color: #e83e8c;
}

.btn-pink-outline:focus {
  color: #e83e8c;
  background-color: #ffffff;
  border-color: #e83e8c;
}

.btn-pink-outline-active {
  color: #e83e8c;
  background-color: #ffffff;
  border-color: #e83e8c;
}

.btn-pink-outline-active:hover {
  color: #e83e8c;
  background-color: #ffffff;
  border-color: #e83e8c;
}

.btn-pink-outline-active:focus {
  color: #e83e8c;
  background-color: #ffffff;
  border-color: #e83e8c;
}

.btn-pink-outline-disabled {
  color: #ffffff;
  background-color: #e83e8c;
  border-color: #e83e8c;
  opacity: 0.6;
}

.btn-pink-outline-disabled:hover {
  color: #e83e8c;
  background-color: #ffffff;
  border-color: #e83e8c;
  opacity: 0.6;
}

.btn-pink-outline-disabled:focus {
  color: #e83e8c;
  background-color: #ffffff;
  border-color: #e83e8c;
  opacity: 0.6;
}

/* teal-outline */
.btn-teal-outline {
  color: #ffffff;
  background-color: #1caf9a;
  border-color: #1caf9a;
}

.btn-teal-outline:hover {
  color: #1caf9a;
  background-color: #ffffff;
  border-color: #1caf9a;
}

.btn-teal-outline:focus {
  color: #1caf9a;
  background-color: #ffffff;
  border-color: #1caf9a;
}

.btn-teal-outline-active {
  color: #1caf9a;
  background-color: #ffffff;
  border-color: #1caf9a;
}

.btn-teal-outline-active:hover {
  color: #1caf9a;
  background-color: #ffffff;
  border-color: #1caf9a;
}

.btn-teal-outline-active:focus {
  color: #1caf9a;
  background-color: #ffffff;
  border-color: #1caf9a;
}

.btn-teal-outline-disabled {
  color: #ffffff;
  background-color: #1caf9a;
  border-color: #1caf9a;
  opacity: 0.6;
}

.btn-teal-outline-disabled:hover {
  color: #1caf9a;
  background-color: #ffffff;
  border-color: #1caf9a;
  opacity: 0.6;
}

.btn-teal-outline-disabled:focus {
  color: #1caf9a;
  background-color: #ffffff;
  border-color: #1caf9a;
  opacity: 0.6;
}

/* dark-outline */
.btn-dark-outline {
  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40;
}

.btn-dark-outline:hover {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
}

.btn-dark-outline:focus {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
}

.btn-dark-outline-active {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
}

.btn-dark-outline-active:hover {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
}

.btn-dark-outline-active:focus {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
}

.btn-dark-outline-disabled {
  color: #ffffff;
  background-color: #343a40;
  border-color: #343a40;
  opacity: 0.6;
}

.btn-dark-outline-disabled:hover {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
  opacity: 0.6;
}

.btn-dark-outline-disabled:focus {
  color: #343a40;
  background-color: #ffffff;
  border-color: #343a40;
  opacity: 0.6;
}

/* main-outline */
.btn-main-outline {
  color: #ffffff;
  background-color: #79390f;
  border-color: #79390f;
}

.btn-main-outline:hover {
  color: #79390f;
  background-color: #ffffff;
  border-color: #79390f;
}

.btn-main-outline:focus {
  color: #79390f;
  background-color: #ffffff;
  border-color: #79390f;
}

.btn-main-outline-active {
  color: #79390f;
  background-color: #ffffff;
  border-color: #79390f;
}

.btn-main-outline-active:hover {
  color: #79390f;
  background-color: #ffffff;
  border-color: #79390f;
}

.btn-main-outline-active:focus {
  color: #79390f;
  background-color: #ffffff;
  border-color: #79390f;
}

.btn-main-outline-disabled {
  color: #ffffff;
  background-color: #79390f;
  border-color: #79390f;
  opacity: 0.6;
}

.btn-main-outline-disabled:hover {
  color: #79390f;
  background-color: #ffffff;
  border-color: #79390f;
  opacity: 0.6;
}

.btn-main-outline-disabled:focus {
  color: #79390f;
  background-color: #ffffff;
  border-color: #79390f;
  opacity: 0.6;
}

/* invert-outline */
.btn-main-invert-outline {
  color: #ffffff;
  background-color: #e4151f;
  border-color: #e4151f;
}

.btn-main-invert-outline:hover {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
}

.btn-main-invert-outline:focus {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
}

.btn-main-invert-outline-active {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
}

.btn-main-invert-outline-active:hover {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
}

.btn-main-invert-outline-active:focus {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
}

.btn-main-invert-outline-active-disabled {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
  opacity: 0.6;
}

.btn-main-invert-outline-active-disabled:hover {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
  opacity: 0.6;
}

.btn-main-invert-outline-active-disabled:focus {
  color: #e4151f;
  background-color: transparent;
  border-color: #e4151f;
  opacity: 0.6;
}

.btn-main-invert-outline-disabled {
  color: #ffffff;
  background-color: #e4151f;
  border-color: #e4151f;
  opacity: 0.6;
}

.btn-main-invert-outline-disabled:hover {
  color: #e4151f;
  background-color: #ffffff;
  border-color: #e4151f;
  opacity: 0.6;
}

.btn-main-invert-outline-disabled:focus {
  color: #e4151f;
  background-color: #ffffff;
  border-color: #e4151f;
  opacity: 0.6;
}

.fc-addEventButton-button {
  background: #2ead2e !important;
  border: none !important;
}

.fc-button {
  border: none !important;
}

.fc-button-active {
  background: #3f5fac !important;
}

.btn-redirect {
  color: #3f5fac;
  background-color: #ffffff;
  margin-right: 5px;
}

.btn-redirect:focus,
.btn-redirect:hover {
  color: #68bbe3;
  background-color: #ffffff;
}

.btn-dashboard {
  min-width: 300px;
  width: 100%;
}

.btn-dashboard-reload {
  font-size: 18px;
  height: 35px;
  font-weight: 300;
  border-radius: 4px;
}

.btn-dashboard-task {
  font-size: 18px;
  border-radius: 4px;
  font-weight: 300;
}

.btn-dashboard-task:hover {
  color: #3f5fac;
}

.btn-task-active {
  color: #ffffff;
  background-color: #25be03;
  border-color: #25be03;
}
.btn-task-active:hover {
  color: #25be03;
  background-color: #ffffff;
  border-color: #25be03;
}
.btn-task-active-active {
  color: #25be03;
  background-color: #ffffff;
  border-color: #25be03;
}
.btn-task-active-active:hover, .btn-task-active-active:focus {
  color: #25be03;
  background-color: #ffffff;
  border-color: #25be03;
}

.btn-task-primary {
  color: #ffffff !important;
  background-color: #325db8 !important;
  border-color: #325db8 !important;
}
.btn-task-primary:hover {
  color: #325db8 !important;
  background-color: #ffffff !important;
  border-color: #325db8 !important;
}
.btn-task-primary-active {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
}
.btn-task-primary-active:hover, .btn-task-primary-active:focus {
  color: #325db8;
  background-color: #ffffff;
  border-color: #325db8;
}

.btn-task-pending {
  color: #ffffff;
  background-color: #f87400;
  border-color: #f87400;
}
.btn-task-pending:hover {
  color: #f87400 !important;
  background-color: #ffffff;
  border-color: #f87400 !important;
}
.btn-task-pending-active {
  color: #f87400;
  background-color: #ffffff;
  border-color: #f87400;
}
.btn-task-pending-active:hover, .btn-task-pending-active:focus {
  color: #f87400;
  background-color: #ffffff;
  border-color: #f87400;
}

.btn-task-upcoming {
  color: #ffffff;
  background-color: #881dd6;
  border-color: #881dd6;
}
.btn-task-upcoming:hover {
  color: #881dd6;
  background-color: #ffffff;
  border-color: #881dd6;
}
.btn-task-upcoming-active {
  color: #881dd6;
  background-color: #ffffff;
  border-color: #881dd6;
}
.btn-task-upcoming-active:hover, .btn-task-upcoming-active:focus {
  color: #881dd6;
  background-color: #ffffff;
  border-color: #881dd6;
}

.btn-task-inactive {
  color: #ffffff;
  background-color: #808285;
  border-color: #808285;
}
.btn-task-inactive:hover {
  color: #808285;
  background-color: #ffffff;
  border-color: #808285;
}
.btn-task-inactive-active {
  color: #808285;
  background-color: #ffffff;
  border-color: #808285;
}
.btn-task-inactive-active:hover, .btn-task-inactive-active:focus {
  color: #808285;
  background-color: #ffffff;
  border-color: #808285;
}

.btn-primary-wfc:hover {
  color: #3f5fac !important;
  background-color: #ffffff;
  border-color: #3f5fac;
}

.btn-dashboard-reload:hover {
  color: #a90505;
  background-color: #ffffff;
  border-color: #a90505;
}

.btn-dashboard-interview {
  min-width: 100px;
  width: 100%;
  height: 50px;
}

.btn-adm-main {
  width: 200px;
  max-width: -moz-fit-content;
  max-width: fit-content;
}
@media (min-width: 576px) {
  .btn-adm-main {
    width: 100%;
  }
}

.float {
  z-index: 1;
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #f49917;
  color: #fff;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
  align-items: center;
  display: flex;
  justify-content: center;
}

.card-btn-cont .ant-btn[disabled],
.card-btn-cont .ant-btn[disabled]:hover,
.card-btn-cont .ant-btn[disabled]:focus,
.card-btn-cont .ant-btn[disabled]:active {
  background-color: #999 !important;
  color: white;
}

.ant-pagination-item-active {
  background-color: #3f5fac !important;
}

.atc-btn-opposite {
  background-color: #6c97ff !important;
  border-color: #6c97ff !important;
  color: white;
  text-transform: capitalize;
}
.atc-btn-opposite:hover {
  color: white;
  background-color: #783b19 !important;
  border-color: #783b19 !important;
}
.atc-btn-opposite:focus {
  color: white;
}

.atc-btn-cancel {
  background-color: white !important;
  border-color: #3f5fac !important;
  color: #3f5fac;
}
.atc-btn-cancel:hover {
  color: white;
  background-color: #3f5fac !important;
  border-color: #3f5fac !important;
}
.atc-btn-cancel:focus {
  color: white;
}

.btn-consultant-cancel {
  font-size: 17px !important;
}

.btn-calendar-filter,
.btn-calendar-filter:focus {
  font-weight: bold;
  color: #f49917;
  padding: 0px;
  padding-left: 20px;
  background: none;
}

.btn-calendar-filter-icon:focus {
  color: #3f5fac;
  background: none;
}

.btn-calendar-filter-icon:hover,
.btn-calendar-filter:hover {
  color: #783b19;
  background: none;
}

.btn-calendar-filter-icon {
  font-weight: bold;
  color: #3f5fac;
}

.modal-name-link {
  padding-left: 0px !important;
  padding-bottom: 0px !important;
  margin-bottom: 0px !important;
  text-align: left;
  padding-top: 10px;
}

.btn-filter-consultant {
  padding-left: 0px !important;
}

.btn-modal-success {
  background: #058d08;
  color: #e6e7e9;
}

.btn-modal-danger {
  background: #9b0303;
  color: #e6e7e9;
}

.btn-modal-warning {
  background: #f49917;
  color: #e6e7e9;
}

.btn-modal {
  border: none;
  font-size: 18px;
  height: 40px;
  color: #ffffff;
}

.btn-modal:hover {
  background: #789df9 !important;
  color: #ffffff;
}

.btn-modal[disabled]:hover {
  background: #e6e7e9 !important;
}

.ant-popover-buttons {
  display: flex;
}
.ant-popover-buttons .ant-btn-default {
  order: 2;
  color: white;
  background: #783b19 !important;
  border: none;
}
.ant-popover-buttons .ant-btn-primary {
  order: 1;
  color: white;
  background: #3f5fac !important;
  border: none;
}
.ant-popover-buttons .ant-btn-default:hover,
.ant-popover-buttons .ant-btn-primary:hover {
  background: #789df9 !important;
  color: white;
}

.name-link {
  margin: 0px !important;
  padding: 0px !important;
  color: #3f5fac !important;
  text-decoration: none;
}

.ant-slider-track {
  background-color: #3f5fac !important;
}

.ant-slider-handle {
  border-color: #3f5fac !important;
}

.active-slot-btn,
.active-slot-btn:hover {
  background: #3f5fac !important;
  color: white !important;
}

.btn-mda-download {
  padding: 1px 15px;
}
.btn-mda-download:hover {
  background: transparent !important;
}

.btn-submit-upload {
  margin-top: 25px;
}

@media (max-width: 320px) {
  .btn-text {
    font-size: clamp(0.5rem, 0.0833rem + 3.3333vw, 0.75rem) !important;
    width: 272px !important;
    display: flex !important;
    justify-content: center !important;
  }
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary) {
  background-color: #325db8;
  color: #ffffff;
}
.ant-input-search > .ant-input-group > .ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary):hover {
  background-color: #ffffff;
  color: #325db8;
}

.btn-taskcard-progress {
  color: #f87400;
}

.btn-taskcard-completed {
  color: #239904;
}

.btn-taskcard-upcoming {
  color: #8612d0;
}

.btn-taskcard-progress:hover,
.btn-taskcard-completed:hover,
.btn-taskcard-upcomin:hover {
  background: transparent;
  color: #325db8;
}

.btn-with-svg svg {
  margin-right: 10px;
}

.btn-video {
  background-color: #789df9;
  border: 1px solid #789df9;
}

.btn-upload {
  background-color: #789df9 !important;
  border: 1px solid #789df9 !important;
}

.btn-download {
  background-color: #783b19;
  border: 1px solid #783b19;
}

.btn-video:hover,
.btn-video:active,
.btn-video:focus,
.btn-video-active,
.btn-upload:hover {
  border: 1px solid #789df9 !important;
  color: #789df9 !important;
  background-color: transparent !important;
}

.btn-download:hover,
.btn-download:active,
.btn-download:focus,
.btn-download-active {
  border: 1px solid #783b19 !important;
  color: #783b19;
  background-color: transparent;
}

.task-card-title .btn-ant-header span {
  color: unset !important;
}/*# sourceMappingURL=button.css.map */