@import "../../variables/variables.scss";

.page-message {
	.buttons-action {
		display: flex;
		gap: 10px;
	}
}
.chat-container {
	.ant-row .ant-col {
		display: flex;
	}

	.chat-users {
		width: 25%;
		border: 1px solid $color8;
		transition: width 0.125s;

		.chat-user-title {
			border-bottom: 1px solid $color8;
			text-align: center;
			padding-top: 4px;

			svg {
				font-size: 18px;
				cursor: pointer;
			}
			svg:hover {
				color: $color1;
			}
		}

		.users-list {
			overflow: hidden auto;
			height: 400px;

			.chat-user {
				padding: 8px 10px;
				border-bottom: 1px solid #e7eaec;
				cursor: pointer;
				display: flex;
				gap: 5px;
				height: 55px;

				.chat-avatar {
					width: 36px;
					height: 36px;
					border-radius: 50%;
				}

				.chat-user-name {
					padding: 10px;
					font-weight: 600;
				}

				.chat-user-name:hover .ant-typography {
					color: $color1;
					font-weight: 600;
				}
			}
		}
	}

	.chat-users.has-minimize {
		width: 6%;
	}

	.chat-discussion {
		background: #eee;
		padding: 15px;
		height: 430px;
		width: 75%;
		overflow-y: auto;
	}
	.chat-discussion.has-minimize {
		width: 94%;
	}

	.chat-message {
		padding: 10px 20px;
		background-color: #fff;
		border: 1px solid #e7eaec;
		display: block;
		padding: 10px 20px;
		position: relative;
		border-radius: 10px;
		width: 80%;
		margin-top: 10px;
	}
	.chat-message .message {
		text-align: justify;
	}
	.chat-message:first-child {
		margin-top: 0px;
	}
	.chat-message.left {
		float: left;
		background-color: #e4e6eb;
	}
	.chat-message.right {
		float: right;
		background-color: $color1;
		color: $white;
	}
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
	.page-message {
		.buttons-action {
			flex-direction: column;
		}
	}
	.chat-container {
		.chat-users {
			width: 60%;
		}
		.chat-discussion {
			width: 40%;
		}
	}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	.page-message {
		.buttons-action {
			flex-direction: column;
		}
	}
	.chat-container {
		.chat-users {
			width: 60%;
		}
		.chat-discussion {
			width: 40%;
		}
	}
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
	.chat-container {
		.chat-users {
			width: 30%;
		}
		.chat-discussion {
			width: 70%;
		}
	}
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
