.login-input {
  width: 100% !important;
  font-size: 14px !important;
}

.login-select {
  padding-left: 0px !important;
}

@supports (zoom: 2) {
  input[type=radio],
  input[type=checkbox] {
    zoom: 2;
  }
}
@supports not (zoom: 2) {
  input[type=radio],
  input[type=checkbox] {
    transform: scale(2);
    margin: 15px;
  }
}
.ant-input {
  padding-bottom: 0px;
}

.float-label {
  height: 47px !important;
  position: relative;
}
.float-label input[type=password] {
  height: 45px !important;
  padding-top: 13px !important;
  padding-bottom: 0px;
}
.float-label input[type=text] {
  height: 45px !important;
  padding-top: 13px !important;
  padding-bottom: 0px;
}
.float-label .ant-form-item-explain-error {
  margin-top: 2px;
}
.float-label .input-rate {
  padding-top: 8px !important;
  padding-bottom: 1px;
}
.float-label .input-rate .ant-input-number-handler-wrap {
  display: none;
}
.float-label .input-rate .ant-input-number-lg input {
  height: auto;
}
.float-label .ant-picker {
  height: 47px !important;
  padding-top: 12px !important;
  padding-bottom: 1px;
}
.float-label .ant-picker .ant-picker-suffix {
  margin-top: -6px !important;
}
.float-label .ant-picker .ant-picker-clear {
  margin-top: -3px !important;
}
.float-label .input-text-area {
  padding-top: 19px !important;
  padding-bottom: 5px;
  line-height: 1.1;
}
.float-label .ant-select {
  height: 47px !important;
}
.float-label .ant-select .ant-select-selector {
  height: 47px !important;
}
.float-label .ant-select .ant-select-selector .ant-select-selection-search-input {
  margin-top: 2px !important;
}
.float-label .mask-input-antd {
  height: 47px;
}

.float-select {
  padding-bottom: 0px !important;
}

.input-number input {
  padding-top: 16px !important;
  padding-bottom: 0px !important;
  height: 43px;
}

.input-text-area-label .as-label {
  background-color: #ffffff;
  padding-right: 5px;
}
.input-text-area-label textarea.ant-input {
  padding-top: 15px;
}

.ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
  top: 11px;
}

.ant-select-selection-search input[type=search] {
  padding-top: 13px !important;
  padding-bottom: 0px;
}

.float-select-multi {
  padding-bottom: 0px;
}
.float-select-multi .ant-select-multiple.ant-select-lg .ant-select-selection-item {
  height: 20px;
  line-height: 20px;
  font-size: 16px;
}
.float-select-multi .ant-select-multiple .ant-select-selection-item-content {
  font-size: 13px;
}
.float-select-multi .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: auto !important;
  padding-top: 0px;
}
.float-select-multi .ant-select-selection-overflow {
  margin-top: 5px;
  margin-bottom: 5px;
}
.float-select-multi .ant-select-selection-overflow-item {
  align-self: auto !important;
}

.label {
  font-weight: normal;
  position: absolute;
  pointer-events: none;
  left: 12px;
  top: 12px;
  transition: 0.2s ease all;
}

.as-placeholder {
  color: gray;
  z-index: 1;
}

.as-label {
  top: 4px;
  font-size: 10px !important;
  background: rgba(255, 255, 255, 0);
  padding: 0 4px;
  margin-left: -4px;
  z-index: 1;
}

.ant-input-affix-wrapper,
.ant-input-affix-wrapper-lg {
  padding: 0px 11px 0px 11px;
}

.form-select-error {
  margin-bottom: 0px;
}
.form-select-error .ant-form-item-explain-error {
  margin-top: 14px;
  margin-bottom: -14px;
}

.form-select-error-multi .ant-form-item-explain-error {
  margin-top: 0px;
  margin-bottom: 0px;
}

.capslock input {
  text-transform: uppercase;
}

.mask-input-antd {
  position: relative;
  /* display: inline-block; */
  width: 100%;
  min-width: 0;
  padding: 0px 12px;
  color: rgba(0, 0, 0, 0.85);
  font-size: 14px;
  /* line-height: 8.5715; */
  background-color: #fff;
  background-image: none;
  border: 1px solid #d9d9d9;
  border-radius: 2px;
  transition: all 0.3s;
  font-size: 16px;
  display: inline-flex;
  height: 45px;
  justify-content: flex-start;
  align-items: flex-start;
  /* margin-top: 1px; */
  padding-top: 12px;
  outline: 0;
}

.maskhasfeedback {
  position: absolute;
  right: 0;
  margin-right: 12px;
  top: 9px;
  font-size: 16px;
  color: #52c41a;
}

.maskhasfeedback-error {
  position: absolute;
  right: 0;
  margin-right: 12px;
  top: 9px;
  font-size: 16px;
  color: #f56900;
}

.mask-input-antd-error-border {
  border: 1px solid #f56900;
  border-radius: 3px;
}

.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus {
  border-color: #4169e1;
}

.ant-input-search .ant-input:hover + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary),
.ant-input-search .ant-input:focus + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary),
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input:hover,
.ant-input:focus,
.ant-input-focused,
.ant-input-number-affix-wrapper:not(.ant-input-number-affix-wrapper-disabled):hover,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-picker-focused,
.ant-picker:hover,
.ant-picker-focused,
.ant-radio-wrapper .ant-radio {
  border-color: #4169e1;
}

.ant-radio-wrapper .ant-radio,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.float-label .ant-input,
.float-label .mask-input,
.float-label .ant-picker,
.float-label .ant-input-affix-wrapper-has-feedback,
.float-label .ant-input-number-affix-wrapper {
  border: 1px solid #4169e1;
}

.ant-radio-wrapper .ant-radio {
  border-radius: 50%;
}

.ant-select-table-pagesize.ant-select-focused .ant-select-arrow {
  color: #000000;
}

.search-dashboard .label {
  text-transform: none !important;
}
.search-dashboard .as-placeholder {
  top: 4px !important;
}
.search-dashboard .as-label {
  top: 1px !important;
}
.search-dashboard input[type=text] {
  height: 32px !important;
  padding-top: 13px !important;
  padding-bottom: 0px;
}

.modal-send-email-notifiaction .ant-modal-content .ant-modal-body .float-select-multi .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: auto;
  padding-top: 0px;
  overflow-y: scroll !important;
}
.modal-send-email-notifiaction .ant-modal-content .ant-modal-body .float-select-multi .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector::-webkit-scrollbar {
  width: 5px !important;
}
.modal-send-email-notifiaction .ant-modal-content .ant-modal-body .float-select-multi .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector::-webkit-scrollbar-thumb {
  background-color: #3f5fac;
  width: 5px !important;
  border-radius: 5px;
}
.modal-send-email-notifiaction .ant-modal-content .ant-modal-body .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
  line-height: 57px !important;
}/*# sourceMappingURL=input.css.map */