.consultant-register .ant-picker {
  margin-bottom: 0;
}
.consultant-register .btn-register-here {
  width: 100%;
}
@media (min-width: 992px) {
  .consultant-register .btn-register-here {
    width: 20%;
  }
}
@media (min-width: 1100px) {
  .consultant-register .btn-register-here {
    width: 10%;
  }
}
.consultant-register-grid {
  display: flex;
  align-items: center;
  justify-content: left;
}
.consultant-register-grid .float-label, .consultant-register-grid .ant-select {
  height: auto !important;
}
.consultant-register-assigned {
  width: 350px !important;
  max-width: 400px !important;
}
.consultant-register .ant-row div:nth-child(11) div.ant-form-item.form-select-error {
  margin-bottom: 8px;
}
@media (min-width: 1100px) {
  .consultant-register .ant-row div:nth-child(11) div.ant-form-item.form-select-error {
    margin-bottom: 2px;
  }
}
.consultant-register .ant-row div:nth-child(12) div.ant-form-item {
  margin-bottom: 22px;
}
@media (min-width: 1100px) {
  .consultant-register .ant-row div:nth-child(12) div.ant-form-item {
    margin-bottom: 2px;
  }
}

.modal-login .float-label, .modal-login .ant-select {
  height: auto !important;
}

.consultant-register-assigned .ant-select {
  background: transparent !important;
  border: 0px !important;
}
.consultant-register-assigned .ant-select .ant-select-selector {
  background: transparent !important;
  border: 0px !important;
}
.consultant-register-assigned .ant-select .ant-select-selector .ant-select-selection-item {
  background-color: transparent !important;
  border-color: transparent !important;
}

.page-consultant .ant-table-content tbody tr td.ant-table-cell:nth-child(6) {
  padding-left: 5px;
}

@font-face {
  font-family: "SourceSansPro";
  font-weight: 300;
  src: local("SourceSansPro"), url(../../fonts/SourceSansPro/SourceSansPro-Light.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 400;
  src: local("SourceSansPro"), url(../../fonts/SourceSansPro/SourceSansPro-Regular.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 500;
  src: local("SourceSansPro"), url(../../fonts/SourceSansPro/SourceSansPro-SemiBold.ttf) format("truetype");
}
@font-face {
  font-family: "SourceSansPro";
  font-weight: 600;
  src: local("SourceSansPro"), url(../../fonts/SourceSansPro/SourceSansPro-Bold.ttf) format("truetype");
}
html,
body {
  height: 100%;
}

body {
  font-family: "SourceSansPro", sans-serif;
}

.copyright-txt {
  color: #ffffff;
}

.ant-layout {
  box-shadow: rgba(105, 107, 112, 0.1) 2px 2px 11px 9px;
  z-index: 9;
}

.scrollbar-1 {
  scrollbar-width: thin;
  scrollbar-color: rgba(246, 246, 255, 0.57) rgba(205, 205, 209, 0.35);
}
.scrollbar-1::-webkit-scrollbar {
  width: 8px;
  height: 8px;
}
.scrollbar-1::-webkit-scrollbar-track {
  background-clip: content-box;
  border: 2px solid transparent;
}
.scrollbar-1::-webkit-scrollbar-thumb {
  background-color: rgba(246, 246, 255, 0.57);
}
.scrollbar-1::-webkit-scrollbar-thumb:hover {
  background-color: rgba(192, 192, 199, 0.613);
}
.scrollbar-1::-webkit-scrollbar-corner, .scrollbar-1::-webkit-scrollbar-track {
  background-color: rgba(205, 205, 209, 0.35);
}

.scrollbar-2 {
  scrollbar-width: thin;
  scrollbar-color: #808285 #bbb;
}
.scrollbar-2::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
.scrollbar-2::-webkit-scrollbar-track {
  background-color: #bbb;
}
.scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #808285;
}
.scrollbar-2::-webkit-scrollbar-track, .scrollbar-2::-webkit-scrollbar-thumb {
  border-radius: 5px;
}

.globalLoading {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 999999999999;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  align-items: center;
  justify-content: center;
}

/** colors */
.white {
  color: #ffffff !important;
}

.color-secondary {
  color: #868e96 !important;
}

.color-1 {
  color: #4169e1 !important;
}

.color-2 {
  color: #13f4f1 !important;
}

.color-3 {
  color: #028f8d !important;
}

.color-4 {
  color: #358e8f !important;
}

.color-5 {
  color: #0e5729 !important;
}

.color-6 {
  color: #e4151f !important;
}

.color-7 {
  color: #58585a !important;
}

.color-7 {
  color: #58585a !important;
}

.color-8 {
  color: #808285 !important;
}

.color-9 {
  color: #949599 !important;
}

.color-10 {
  color: #bdbec0 !important;
}

.color-11 {
  color: #137702 !important;
}

.color-12 {
  color: #ddfeff !important;
}

.color-13 {
  color: #0e5728 !important;
}

.color-14 {
  color: #6c6c6c !important;
}

.color-15 {
  color: #606060 !important;
}

.color-16 {
  color: #3f5fac !important;
}

.bgwhite {
  background-color: #ffffff !important;
}

.bgcolor-1 {
  background-color: #4169e1 !important;
}

.bgcolor-2 {
  background-color: #13f4f1 !important;
}

.bgcolor-3 {
  background-color: #028f8d !important;
}

.bgcolor-4 {
  background-color: #358e8f !important;
}

.bgcolor-5 {
  background-color: #0e5729 !important;
}

.bgcolor-6 {
  background-color: #e4151f !important;
}

.bgcolor-7 {
  background-color: #58585a !important;
}

.bgcolor-7 {
  background-color: #58585a !important;
}

.bgcolor-8 {
  background-color: #808285 !important;
}

.bgcolor-9 {
  background-color: #949599 !important;
}

.bgcolor-10 {
  background-color: #bdbec0 !important;
}

.bgcolor-11 {
  background-color: #137702 !important;
}

.bgcolor-12 {
  background-color: #ddfeff !important;
}

.bgcolor-13 {
  background-color: #0e5728 !important;
}

.bgcolor-14 {
  background-color: #6c6c6c !important;
}

.bgcolor-15 {
  background-color: #606060 !important;
}

.bgcolor-16 {
  background-color: #3f5fac !important;
}

.bgcolor-17 {
  background-color: #783b19 !important;
}

.secondary-font-color {
  color: #783b19 !important;
}

.float-label .ant-input-group-wrapper.ant-input-group-wrapper-has-feedback .ant-input-group-addon .ant-btn {
  border: 0px;
  border-left: 1px solid #58585a;
  border-radius: 0px;
}

.float-label .ant-input-group-wrapper.ant-input-group-wrapper-has-feedback .ant-input-wrapper.ant-input-group .ant-input-affix-wrapper.ant-input-affix-wrapper-has-feedback {
  border: 0px;
}

.ant-input-search .ant-input:focus,
.ant-input-search .ant-input-focused,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input:focus,
.ant-input-focused,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-picker-focused {
  box-shadow: 0 0 0 1px rgba(245, 105, 0, 0.2);
}

.ant-input-search .ant-input:hover + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary),
.ant-input-search .ant-input:focus + .ant-input-group-addon .ant-input-search-button:not(.ant-btn-primary),
.ant-select:not(.ant-select-disabled):hover .ant-select-selector,
.ant-select-focused:not(.ant-select-disabled).ant-select:not(.ant-select-customize-input) .ant-select-selector,
.ant-input:hover,
.ant-input:focus,
.ant-input-focused,
.ant-input-number-affix-wrapper:not(.ant-input-number-affix-wrapper-disabled):hover,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-number-affix-wrapper:focus,
.ant-input-number-affix-wrapper-focused,
.ant-input-affix-wrapper:not(.ant-input-affix-wrapper-disabled):hover,
.ant-input-affix-wrapper:focus,
.ant-input-affix-wrapper-focused,
.ant-picker-focused,
.ant-picker:hover,
.ant-picker-focused,
.ant-radio-wrapper .ant-radio,
.ant-input-search .ant-input:hover,
.ant-input-search .ant-input:focus,
.checkbox_yes .ant-checkbox,
.ant-checkbox:hover .ant-checkbox-inner,
.ant-checkbox.ant-checkbox-checked .ant-checkbox-inner,
.ant-checkbox.ant-checkbox-checked::after {
  border-color: #4169e1;
}

.ant-radio-wrapper .ant-radio,
.ant-select:not(.ant-select-customize-input) .ant-select-selector,
.float-label .ant-input,
.float-label .mask-input,
.float-label .ant-picker,
.float-label .ant-input-affix-wrapper-has-feedback,
.float-label .ant-input-number-affix-wrapper,
.float-label .ant-input-group-wrapper.ant-input-group-wrapper-has-feedback {
  border: 1px solid #dbdbdb;
}

.float-label .ant-input-group-wrapper.ant-input-group-wrapper-has-feedback .ant-input-group-addon {
  border: 0px;
  border-radius: 0px;
  border-top: 1px solid #58585a;
}
.float-label .ant-input-group-wrapper.ant-input-group-wrapper-has-feedback .ant-input-group-addon .ant-btn {
  background-color: #4169e1;
  color: #ffffff;
}

.ant-checkbox.ant-checkbox-checked .ant-checkbox-inner {
  background-color: #4169e1;
}

.ant-input-group .ant-input-affix-wrapper-focused {
  border: 1px solid #4169e1;
}

.ant-select-arrow,
.as-placeholder {
  color: #58585a;
}

.ant-select-table-pagesize.ant-select-focused .ant-select-arrow {
  color: #000000;
}

.ant-select-item-option-active:not(.item-select-item-option-disabled) {
  background-color: #4169e1 !important;
  color: #ffffff;
}

.table-filter-alphabet .ant-btn {
  color: #e4151f;
}

.ant-card-bordered {
  border: none;
}

.ant-breadcrumb {
  background: #ffffff !important;
}

.ant-upload-select-picture {
  height: 250px !important;
}

.center-justified {
  display: flex;
  justify-content: center;
}

.ant-card {
  font-size: 16px;
}

.ant-pagination-total-text {
  margin-right: 0px;
}

.text-danger {
  color: red;
}

/** end colors */
/** others */
/** end others */
.manageUserPage .ant-card-head-title {
  padding-bottom: 0px;
}

.light-blue-link {
  color: #789df9 !important;
}

.atc-btn {
  background-color: #3f5fac !important;
  border-color: #3f5fac !important;
  color: white;
}
.atc-btn:hover {
  background-color: #783b19 !important;
  border-color: #783b19 !important;
  color: white;
}
.atc-btn:focus {
  color: white;
}

.admin-page-user .ant-pagination .ant-pagination-item {
  min-width: 31px;
}

.ant-result-title,
.ant-result-subtitle {
  color: #ffffff !important;
}

.email-template-collapse .form-select-error,
.register-consultant-collapse .form-select-error {
  margin-bottom: 20px !important;
}
.email-template-collapse .form-select-error .ant-form-item-explain-error,
.register-consultant-collapse .form-select-error .ant-form-item-explain-error {
  margin-top: 14px;
  margin-bottom: -14px;
}

.the-state .ant-form-item-explain-error {
  margin-top: 0 !important;
}

@media (max-width: 425px) {
  media-screen {
    height: 1500px !important;
  }
}
@media (min-width: 320px) and (max-width: 768px) {
  .client-information-container {
    margin-top: 0px !important;
  }
  .client-task-collapse-title {
    margin-bottom: -2px;
  }
}
.admin-calendar-status {
  height: 17px;
}

.updateAvailableDiv {
  background: white;
  position: fixed;
  bottom: 10px;
  right: 10px;
  z-index: 9999999;
  padding: 15px 17px;
  border-radius: 5px;
  box-shadow: 0px 0px 18px -3px rgba(0, 0, 0, 0.47);
  display: flex;
  gap: 10px;
}

.updateAvailableDiv .div1 {
  padding-top: 6px;
}

.updateAvailableDiv .div1 span {
  font-size: 35px;
}

.updateAvailableDiv .div2 h3 {
  font-weight: 500;
  margin-bottom: 0px;
}

.updateAvailableDiv .div2 p {
  color: #b5b5b5;
  line-height: 1.3;
  margin-bottom: 7px;
}

.ant-row.consultant-register-grid .float-select-multi .ant-select-show-search.ant-select:not(.ant-select-customize-input) .ant-select-selector {
  height: auto !important;
  overflow: initial !important;
}

.history-data {
  display: flex;
  justify-content: space-between;
  width: 100% !important;
}
.history-data span {
  width: 33% !important;
  margin-right: 20px;
}

.pad-20 {
  padding: 20px !important;
}

.ant-pagination .ant-pagination-disabled svg {
  color: #a7a7a7;
}
.ant-pagination .ant-pagination-disabled {
  color: #dfe2df !important;
  border: 1px solid #dfe2df !important;
}
.ant-pagination .ant-pagination-disabled:hover {
  color: #dfe2df !important;
  background-color: white !important;
}
.ant-pagination .ant-pagination-prev {
  border: 1px solid #325db8;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: #325db8;
}
.ant-pagination .ant-pagination-prev:hover {
  color: white;
  background-color: #325db8;
}
.ant-pagination .ant-pagination-next {
  border: 1px solid #325db8;
  padding-left: 10px;
  padding-right: 10px;
  border-radius: 7px;
  color: #325db8;
}
.ant-pagination .ant-pagination-next:hover {
  color: white;
  background-color: #325db8;
}
.ant-pagination .ant-pagination-item {
  border: none;
}
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover a {
  color: #325db8;
  border-color: transparent;
}
.ant-pagination .ant-pagination-item:not(.ant-pagination-item-active):hover {
  background-color: #ffffff;
}
.ant-pagination .ant-pagination-next:not(.ant-pagination-disabled):hover svg,
.ant-pagination .ant-pagination-prev:not(.ant-pagination-disabled):hover svg {
  color: #325db8;
}
.ant-pagination .ant-pagination-item.ant-pagination-item-active {
  color: #ffffff;
  background-color: #325db8 !important;
  border: 1px solid #325db8;
  border-radius: 7px;
}
.ant-pagination .ant-pagination-item.ant-pagination-item-active a {
  color: #ffffff;
}

.divMaintenanceChild {
  margin-top: 100px;
}/*# sourceMappingURL=main.css.map */