@import "../../variables/variables.scss";

.public-layout.login-layout {
	height: 100vh;
	overflow: hidden auto;
	background: linear-gradient(to bottom, #ffffff 0%, #0f7273 100%);

	.ant-layout-content {
		min-height: auto;
	}

	.ant-row {
		.ant-col {
			display: flex;
			align-items: center;
			flex-direction: column;

			.ant-image {
				width: 380px;
				margin-top: 50px;
			}

			.login-sub-title {
				width: 260px;
				text-align: center;
				font-weight: 500;
			}

			.ant-card {
				width: 550px;
				border-radius: 5px;
				margin-top: 60px;
				box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
				-webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
				-moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);

				.ant-card-body {
					padding: 30px 50px;

					.btn-register-here,
					.btn-sign-in {
						height: 48px;
						font-size: 20px;
						border-radius: 0;
					}

					.ant-divider {
						margin: 0 auto;
						margin-top: 55px;
						margin-bottom: 45px;
						border-top-color: $black;
					}
				}

				.text-create-account {
					font-size: 24px;
					font-weight: 400;
				}

				.text-sign-in-here {
					font-weight: 400;
					font-size: 24px;
				}
			}

			footer {
				margin-top: 50px;
				text-align: center;
			}
		}
	}

	.forgot {
		margin-top: 10px;
		font-weight: 500;
	}

	.ant-layout-footer {
		background-color: transparent;
	}

	.float-label .ant-input {
		border-color: transparent;
	}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
	.public-layout.login-layout .ant-row > .ant-col > .ant-card {
		width: 500px;
	}
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
	.public-layout.login-layout .ant-row .ant-col .ant-image {
		width: 350px;
	}

	.public-layout.login-layout .ant-row > .ant-col > .ant-card {
		width: 450px;
	}
	.public-layout.login-layout .ant-row > .ant-col > .ant-card > .ant-card-body {
		padding: 15px 20px;
	}
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
	.public-layout.login-layout .ant-row .ant-col .ant-image {
		width: 300px;
	}

	.public-layout.login-layout .ant-row > .ant-col > .ant-card {
		width: 400px;
	}

	.public-layout.login-layout .ant-row > .ant-col > .ant-card > .ant-card-body {
		padding: 15px 20px;
	}
}

@media (max-width: 375px) {
	.public-layout.login-layout .ant-row .ant-col .ant-image {
		width: 250px;
	}

	.public-layout.login-layout .ant-row > .ant-col > .ant-card {
		width: 350px;
	}
}

@media (max-width: 320px) {
	.public-layout.login-layout .ant-row > .ant-col > .ant-card {
		width: 300px;
	}
}
