@import "../../variables/variables.scss";

.page-admin-certificate-template {
	.e_signature_canvas_wrapper {
		height: 200px;
	}
	.e_signature_canvas {
		border: 1px solid $color9;
		width: 100%;
		height: 100%;
	}
	.img_preview_signature_container_outer {
		display: flex;
		justify-content: center;
	}
	.img_preview_signature_container {
		width: 500px;
		height: 200px;
		border: 1px solid $color9;
	}
	.img_preview_signature {
		width: 100%;
		height: 100%;
	}

	.btn-clear-save {
		display: flex;
		gap: 12px;
		margin-top: 10px;
		flex-wrap: wrap;
	}
}

.modal-certificate-template-preview {
	.ant-modal-content {
		position: relative;
		height: 100%;
	}
	.ant-modal-body {
		position: relative;
		height: 100%;
	}
	.cert-complete {
		position: relative;
		.cert-complete-date {
			position: absolute;
			right: 268px;
			bottom: 208px;
		}
		.cert-complete-signature {
			position: absolute;
			left: 169px;
			bottom: 217px;
			width: 170px;
		}
	}
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
	.modal-certificate-template-preview {
		width: 75% !important;

		.ant-modal-body {
			padding: 10px;
		}
	}
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
	.modal-certificate-template-preview {
		width: 100% !important;

		.ant-modal-body {
			padding: 10px;
		}
	}
	.page-admin-certificate-template {
		.btn-clear-save {
			justify-content: center;
		}
	}
}

/* Media Query for low resolution  Tablets, Ipads */

@media (min-width: 481px) and (max-width: 767px) {
}

@media (max-width: 575px) {
	.page-admin-certificate-template {
		// .e_signature_canvas {
		// 	width: 100% !important;
		// }

		.ant-collapse {
			.panel-create-signature {
				.ant-collapse-content {
					.ant-collapse-content-box {
						padding: 10px !important;

						.ant-card {
							.ant-card-body {
								padding: 15px !important;
							}
						}
					}
				}
			}
		}
	}
}

@media (max-width: 500px) {
	.page-admin-certificate-template {
		.btn-clear-save {
			justify-content: center;

			.ant-btn {
				width: 100%;
			}
		}
	}
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
}

@media (max-width: 375px) {
	.page-admin-certificate-template {
		.panel-create-signature {
			.ant-collapse-content > .ant-collapse-content-box {
				padding: 5px;
			}
		}
	}
}

@media (max-width: 320px) {
}
