@import "../../variables/variables.scss";

.page-admin-certificate-template {
	.e_signature_canvas {
		border: 1px solid $color9;
	}
	.img_preview_signature_container {
		width: 500px;
		height: 200px;
		border: 1px solid $color9;
	}
	.img_preview_signature {
		width: 100%;
		height: 100%;
	}
}
