@import "../../variables/variables.scss";
.page-admin-profile {
  .profilePhoto {
    .ant-upload-list-picture-card {
      display: flex;
      justify-content: center;
    }
  }

  & .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item {
    line-height: 55px;
  }

  & .ant-collapse-content-box {
    min-height: 0;
  }

  &-modal {
    background-color: #3f5fac;
  }

  // & .m-t-md.m-b-md {
  //   overflow: hidden;
  //   border: 1px solid #949544 !important;
  // }

  // & canvas {
  //   border: 0 !important;
  // }

  .e_signature_canvas {
    border: 1px solid $color9;
  }

  .ant-collapse {
    font-size: 16px;
  }
}

.modal-account-deactivate {
  .ant-modal-footer {
    text-align: right !important;
  }
}

.modal-change-password {
  .ant-modal-footer {
    text-align: right !important;
  }

  & .ant-modal-content .ant-modal-header {
    background: #3f5fac !important;

    & .ant-modal-title {
      color: white !important;
    }
  }

  & .ant-modal-close {
    color: white !important;
  }
}

.modal-for-appointment {
  .ant-modal-footer {
    text-align: right !important;
  }

  & .ant-modal-content .ant-modal-header {
    background: #3f5fac !important;

    & .ant-modal-title {
      color: white !important;
    }
  }

  & .ant-modal-close {
    color: white !important;
  }
}

.modal-set-up-pass {
  & .ant-modal-body {
    padding: 24px 17px;
  }
  & .ant-row {
    display: block;
  }
}

.modal-change-2-factor-authentication {
  .ant-modal-footer {
    text-align: right !important;
  }

  & .ant-modal-content .ant-modal-header {
    background: #3f5fac !important;

    & .ant-modal-title {
      color: white !important;
      text-align: center !important;
    }
  }

  & .ant-modal-close-x {
    color: white !important;
  }
}

.ant-switch-checked {
  background: #2ead2e;
}

.ant-switch {
  margin-left: 20px;
}

.modal-account-deactivate {
  .ant-modal-header {
    background: $color16 !important;
    border-radius: 5px 5px 0px 0px !important;
  }

  .ant-modal-title,
  .ant-modal-close-x {
    color: $mainTextActive !important;
  }

  .ant-modal-content {
    border-radius: 5px 5px 0px 0px !important;
  }
}

.enable-text {
  text-transform: capitalize;
}

.two-factor-text {
  @media (max-width: 375px) {
    display: flex;
    align-items: center;
    font-size: 14px !important;
  }
}

.twofa-modal {
  & .ant-form-item {
    margin-bottom: 19px;
  }
  & button {
    margin-bottom: 7px;
  }

  & .ant-modal-title {
    font-size: 14px;

    @include atSmall {
      font-size: 16px;
    }
  }
}

.email-templates-fields {
  & .ticket-quill {
    margin-bottom: 0 !important;
  }

  & .quill {
    margin-bottom: 0 !important;
    height: auto !important;
    @include atLarge {
    }

    & .ql-editor.ql-blank {
      height: 250px;
    }
  }

  & .ant-form-item.m-b-sm.form-select-error {
    margin-bottom: 16px !important;
  }

  & .form-select-error {
    & .ant-form-item-explain-error {
      position: relative;
      top: -13px;
    }
  }

  & .ant-collapse-content-box div.ant-form-item:nth-child(4) .ant-form-item-explain-error {
    position: relative;
    top: 12px;
  }
}

.new-password-input {
  .ant-form-item-explain-error {
    margin-top: 5px !important;
  }
}

.profile-username .ant-form-item {
  margin-bottom: 5px;
}

.personal-info-1 .phone .ant-form-item {
  margin-bottom: 5px;
}

.personal-info-1 .email .ant-form-item {
  margin-bottom: 24px;

  @include atMedium {
    margin-bottom: 5px;
  }
}

.personal-info-1 .two-factor {
  .ant-btn {
    white-space: normal;
    padding-left: 0;
    padding-right: 0;
    margin-bottom: 1rem;

    @include atSmall {
      margin-bottom: 0;
    }
    & > span {
      display: inline;
    }
  }
}

.personal-info-2 .city .ant-form-item,
.personal-info-2 .state .ant-form-item {
  margin-bottom: 24px;
  @include atMedium {
    margin-bottom: 5px;
  }
}

.personal-info-2 .zip-code .ant-form-item {
  margin-bottom: 5px;
}

.font-red {
  margin-bottom: 10px;
  font-size: 14px;
}

.form-create-password span.ant-typography {
  padding-bottom: 2rem !important;
}

.img-crop-modal {
  .ant-modal-content {
    .ant-btn-primary {
      background: #3f5fac !important;
      border-color: #3f5fac !important;
      color: white;

      &:hover {
        color: white;
        background-color: #783b19 !important;
        border-color: #783b19 !important;
      }

      &:focus {
        color: white;
      }
    }
  }
}

.client-note {
  .ant-collapse-content-box {
    min-height: fit-content;
  }

  @media (max-width: 569px) and (min-width: 320px) {
    .ant-collapse-content-box {
      padding: 19px !important;
    }
  }
}

.view-user-tags {
  font-size: 9.7px;

  @include atExtraSmall {
    font-size: 12px;
  }
}

// .personal-info-2 .address1 .ant-form-item,
// .personal-info-2 .address2 .ant-form-item {
//   margin-top: 0;

//   @include atMedium {
//     margin-top: 13px;
//   }
// }

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
