.page-profile .profilePhoto .ant-upload-list-picture-card {
  display: flex;
  justify-content: center;
}
.page-profile .profilePhoto .ant-upload-list-picture-card .ant-upload {
  width: 200px;
  height: 200px;
  border-color: #e4151f;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.page-profile .profilePhoto .ant-upload-list-picture-card .ant-upload-list-picture-card-container {
  width: 200px;
  height: 200px;
}
.page-profile .profilePhoto .ant-upload-list-picture-card .ant-upload-list-picture-card-container .ant-upload-list-item {
  border-color: #e4151f;
  box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -webkit-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 1px 0px 5px 0px rgba(0, 0, 0, 0.75);
}
.page-profile .e_signature_canvas {
  border: 1px solid #949599;
  width: 100%;
}

.modal-account-deactivate .ant-modal-footer {
  text-align: right !important;
}

.modal-change-password .float-label .ant-input-affix-wrapper .ant-input {
  border-color: transparent !important;
}
.modal-change-password .ant-modal-footer {
  text-align: right !important;
}

.modal-change-2-factor-authentication .ant-modal-footer {
  text-align: right !important;
}

.page-profile-upgrade-subscription .float-label .ant-input-affix-wrapper .ant-input {
  border-color: transparent !important;
}
.page-profile-upgrade-subscription .div_up_sub_is_patient {
  display: flex;
  align-items: flex-start;
  gap: 15px;
  margin-bottom: 10px;
}
.page-profile-upgrade-subscription .div_up_sub_is_patient > span {
  font-size: 16px;
}
.page-profile-upgrade-subscription .div_up_sub_is_patient .ant-radio-group .ant-radio-wrapper span:not(.ant-radio) {
  font-size: 16px;
}
.page-profile-upgrade-subscription .different_card {
  padding: 10px;
  border: 1px solid #d9d9d9;
  background: #f5f5f5;
}

.private-layout .top-banner-adss {
  text-align: center;
  background-color: #f1f3f2;
  display: flex;
  justify-content: center;
  display: none;
}
.private-layout .top-banner-adss.has-data {
  border-top: 1px solid #58585a;
  padding: 10px 0px;
  display: flex;
}
.private-layout .top-banner-adss.has-data .top-banner-adss-inner {
  position: relative;
}
.private-layout .top-banner-adss.has-data .top-banner-adss-inner .icon-close {
  position: absolute;
  right: -5px;
  top: -10px;
  background-color: #949599;
  color: #ddfeff;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.private-layout .top-banner-adss.has-data .top-banner-adss-inner .top-banner-adss-inner-image img {
  width: 100%;
}
.private-layout .right-banner-adss {
  display: none;
}
.private-layout .right-banner-adss.has-data {
  display: block;
}
.private-layout .right-banner-adss.has-data .right-banner-adss-inner {
  position: relative;
}
.private-layout .right-banner-adss.has-data .right-banner-adss-inner .icon-close {
  position: absolute;
  left: -8px;
  top: -10px;
  background-color: #949599;
  color: #ddfeff;
  border-radius: 50%;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.private-layout .right-banner-adss.has-data .right-banner-adss-inner .right-banner-adss-inner-image img {
  width: 100%;
  border: 1px solid #58585a;
}

/* Media Query for Large screens */
/* Media Query for Laptops and Desktops */
/* Media Query for Tablets Ipads portrait mode */
/* Media Query for Tablets, Ipads and below  */
/* Media Query for low resolution  Tablets, Ipads */
/* Media Query for Mobile Devices */
@media (max-width: 375px) {
  .page-profile .btn-2fa {
    display: flex;
    margin-bottom: 20px;
  }
  .page-profile .btn-2fa > span:last-child {
    white-space: break-spaces;
    text-align: left;
  }
}/*# sourceMappingURL=profile.css.map */