@import "../variables/variables";
.maintenance-layout {
  .ant-card {
    .text-site-maintenance {
      font-size: 24px;
      font-weight: 500;
    }
    .warning-logo {
      width: 200px;
    }
  }
}
