.c-layout-header {
  background-color: #ffffff;
  /* change variable
   */
}

.headerNavs {
  background-color: #ffffff;
  padding: 20px 0px;
  height: 0px !important;
}

.headerNavleftHover {
  color: #f4ba41;
  /* change variable
   */
}

.headerNavlefttext {
  color: #ffffff;
  /* change variable
   */
}

.headerNavleftHover:hover .headerNavlefttext {
  color: #f4ba41;
  /* change variable
         */
}

.headerNavleftDiv {
  background-color: #2f3950;
  /* change variable
         */
  height: 100px;
  float: left;
}

.backgroundColorHeadernavs {
  color: #ffffff;
}

.sideMenuLogo img {
  width: 70%;
  padding-top: 7px;
}

.sideMenuLogo {
  width: 100%;
  padding: 0;
  background: #ffffff;
  text-align: center;
  padding-left: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
}

.sideMenuLogo .sideMenuLogoIcon {
  margin-top: 35px;
  color: #2f3950;
}

.sideMenuLogo .sideMenuLogoIcon:hover {
  color: #f4ba41;
}

.sideMenuLogo .sideMenuLogoImage {
  -o-object-fit: contain;
     object-fit: contain;
  width: 166px;
  margin-left: 10px;
  margin-top: -13px;
}

.menuCollapseOnClose {
  color: #2f3950;
}

.menuCollapseOnClose:hover {
  color: #f4ba41;
}

.sideMenu .ant-menu-item-selected {
  background-color: #f4ba41 !important;
}

.sideMenu .ant-menu-item-selected .ant-menu-item-icon {
  color: #ffffff;
}

.sideMenu .ant-menu-item-icon {
  color: #f4ba41;
  font-size: 22px !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
  border-right: none;
}

.sideMenu .ant-menu-submenu-arrow {
  color: #868e96 !important;
}

.sideMenu .ant-menu-submenu-arrow:hover {
  color: #f4ba41 !important;
}

.headerNavsLeft {
  font-size: 50px;
  border-right: 1px solid rgba(255, 255, 255, 0.5);
  padding: 30px;
}

.transtionGrow {
  -webkit-transition: width 200ms;
  transition: width 200ms;
  margin-left: 0px !important;
  -webkit-transition: margin-left, 0.1s linear;
  transition: margin-left, 0.1s linear;
}

.layout-main {
  -webkit-transition: margin-left, 0.1s linear;
  transition: margin-left, 0.1s linear;
}

.sidemenuDark {
  background-color: #2f3950;
  z-index: 99;
}

.sideMenu {
  background-color: #2f3950;
}

.sideMenu .ant-menu-item {
  border-top: none !important;
  padding-left: 15px !important;
}

.sideMenu .ant-menu-submenu-title {
  padding-left: 15px !important;
}

.sidemenuDark .ant-menu-submenu .ant-menu-item {
  padding-left: 48px !important;
}

.sideMenu .ant-menu-item-selected {
  background-color: #f4ba41 !important;
}

.sideMenu .ant-menu-submenu {
  border-top: none !important;
}

.sideMenu .ant-menu-sub {
  background-color: #ffffff !important;
}

.scrollbar-2 {
  scrollbar-color: #f4ba41 #bbb;
}

.scrollbar-2::-webkit-scrollbar-thumb {
  background-color: #f4ba41;
}

.sideMenu .ant-menu-title-content {
  color: #ffffff;
}

.sidemenuDark .ant-menu-submenu a {
  color: #2f3950 !important;
}

.sidemenuDark .ant-menu-submenu a {
  color: #2f3950 !important;
}

.backgroundColorHeadernavs {
  background-color: #2f3950;
}

.sidemenuDark .notSub a {
  color: #ffffff !important;
}

.profile_hover:hover a {
  color: #f4ba41 !important;
}

.profile_hover:hover .ant-menu-item-icon {
  color: #f4ba41 !important;
}

.sh-pagetitle-title {
  color: #2f3950;
}

.ant-form-item-label
> label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
  content: "";
}

.ant-form-item-label
> label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
  display: inline-block;
  margin-right: 4px;
  color: #f4ba41;
  font-size: 14px;
  font-family: SimSun, sans-serif;
  line-height: 1;
  content: "*";
}

.site-page-header svg {
  fill: #2f3950;
  width: 40px;
  height: 40px;
}

.site-page-header .anticon {
  border-radius: 50%;
  border: 2px solid #2f3950;
  padding: 10px;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
  margin-top: 0px !important;
  margin-bottom: 0px !important;
}
/*# sourceMappingURL=layout.css.map */