@import "../variables/variables";
.c-layout-header {
    background-color: $white;
    /* change variable
   */
}
.headerNavs {
    background-color: $white;
    padding: 20px 0px;
    height: 0px !important;
}

.headerNavleftHover {
    color: $clightorange;
    /* change variable
   */
}
.headerNavlefttext {
    color: $white;
    /* change variable
   */
}

.headerNavleftHover:hover {
    .headerNavlefttext {
        color: $clightorange;
        /* change variable
         */
    }
}

.headerNavleftDiv {
    // background-color: $cdarkgray;
    height: 100px;
    padding-top: 20px;
    padding-left: 14px;

    .anticon {
        font-size: 24px !important;
        color: $cdarkgray;
    }
    .anticon:hover {
        color: $clightorange;
    }
}
.backgroundColorHeadernavs {
    color: $white;
}

.sideMenuLogo img {
    width: 70%;
    padding-top: 7px;
}

.sideMenuLogo {
    width: 100%;
    padding: 0;
    background: $white;
    text-align: center;
    padding-left: 14px;
    display: flex;
    justify-content: flex-start;

    .sideMenuLogoIcon {
        margin-top: 35px;
        color: $sideMenuTopIconColor;
    }

    .sideMenuLogoIcon:hover {
        color: $sideMenuTopIconColorHover;
    }

    .sideMenuLogoImage {
        object-fit: contain;
        width: 166px;
        margin-left: 10px;
        margin-top: -13px;
    }
}

.menuCollapseOnClose {
    color: $cdarkgray;
}

.menuCollapseOnClose:hover {
    color: $clightorange;
}

.sideMenu .ant-menu-item-selected {
    background-color: $clightorange !important;
}
.sideMenu .ant-menu-item-selected .ant-menu-item-icon {
    color: $white;
}

.sideMenu .ant-menu-item-icon {
    color: $clightorange;
    font-size: 22px !important;
}

.ant-menu-vertical .ant-menu-item::after,
.ant-menu-vertical-left .ant-menu-item::after,
.ant-menu-vertical-right .ant-menu-item::after,
.ant-menu-inline .ant-menu-item::after {
    border-right: none;
}

.sideMenu .ant-menu-submenu-arrow {
    color: #868e96 !important;
}

.sideMenu .ant-menu-submenu-arrow:hover {
    color: $clightorange !important;
}

.headerNavsLeft {
    font-size: 50px;
    border-right: 1px solid rgba(255, 255, 255, 0.5);
    padding: 30px;
}
.transtionGrow {
    transition: width 200ms;
    margin-left: 0px !important;

    -webkit-transition: margin-left, 0.1s linear;
    -moz-transition: margin-left, 0.1s linear;
    -ms-transition: margin-left, 0.1s linear;
    -o-transition: margin-left, 0.1s linear;
    transition: margin-left, 0.1s linear;
}

.layout-main {
    -webkit-transition: margin-left, 0.1s linear;
    -moz-transition: margin-left, 0.1s linear;
    -ms-transition: margin-left, 0.1s linear;
    -o-transition: margin-left, 0.1s linear;
    transition: margin-left, 0.1s linear;
}

.sidemenuDark {
    background-color: $cdarkgray;
    z-index: 1;
}

.sideMenu {
    background-color: $cdarkgray;

    .anticon {
        line-height: 0px !important;
        margin-top: 7px !important;
    }

    .ant-menu-item:active,
    .ant-menu-submenu-title:active {
        background: $clightorange !important;

        .anticon {
            color: $white;
        }
    }
}

.ant-layout-sider-collapsed {
    .ant-menu-item {
        .anticon {
            margin: 0 !important;
            line-height: 0px !important;
            margin-top: 7px !important;
        }
    }
}

.sideMenu .ant-menu-item {
    border-top: none !important;
    padding-left: 15px !important;
}

.sideMenu .ant-menu-submenu-title {
    padding-left: 15px !important;
}

.sidemenuDark .ant-menu-submenu .ant-menu-item {
    padding-left: 48px !important;
}

.sideMenu .ant-menu-item-selected {
    background-color: $clightorange !important;
}

.sideMenu .ant-menu-submenu {
    border-top: none !important;
}
.sideMenu .ant-menu-sub {
    background-color: $white !important;
}
.scrollbar-2 {
    scrollbar-color: $clightorange #bbb;
}
.scrollbar-2::-webkit-scrollbar-thumb {
    background-color: $clightorange;
}

.sideMenu .ant-menu-title-content {
    color: $white;
}

.sidemenuDark .ant-menu-submenu a {
    color: $cdarkgray !important;
}

.sidemenuDark .ant-menu-submenu a {
    color: $cdarkgray !important;
}

.backgroundColorHeadernavs {
    background-color: $cdarkgray;
}

.sidemenuDark .notSub a {
    color: $white !important;
}

.profile_hover:hover a {
    color: $clightorange !important;
}
.profile_hover:hover .ant-menu-item-icon {
    color: $clightorange !important;
}

.sh-pagetitle-title {
    color: $cdarkgray;
}

.ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::before {
    content: "";
}

.ant-form-item-label
    > label.ant-form-item-required:not(.ant-form-item-required-mark-optional)::after {
    display: inline-block;
    margin-right: 4px;
    color: $clightorange;
    font-size: 14px;
    font-family: SimSun, sans-serif;
    line-height: 1;
    content: "*";
}

.site-page-header svg {
    fill: $cdarkgray;
    width: 40px;
    height: 40px;
}
.site-page-header .anticon {
    border-radius: 50%;
    border: 2px solid $cdarkgray;
    padding: 10px;
}

.ant-menu-inline.ant-menu-root .ant-menu-item,
.ant-menu-inline.ant-menu-root .ant-menu-submenu-title {
    display: block !important;
    align-items: none !important;
    transition: none;
}

.ant-menu-vertical .ant-menu-item,
.ant-menu-vertical-left .ant-menu-item,
.ant-menu-vertical-right .ant-menu-item,
.ant-menu-inline .ant-menu-item,
.ant-menu-vertical .ant-menu-submenu-title,
.ant-menu-vertical-left .ant-menu-submenu-title,
.ant-menu-vertical-right .ant-menu-submenu-title,
.ant-menu-inline .ant-menu-submenu-title {
    margin-top: 0px;
    margin-bottom: 0px;
}

.ant-layout-sider-collapse {
    width: 52px !important;
    max-width: 52px !important;
    min-width: 52px !important;
    flex: 0 0 52px !important;
}
