.primary-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #325db8;
  border: 1px solid #325db8;
  color: #ffffff;
}

.secondary-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #868e96;
  border: 1px solid #868e96;
  color: #ffffff;
}

.success-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #239904;
  border: 1px solid #239904;
  color: #ffffff;
}

.warning-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #a90505;
  border: 1px solid #a90505;
  color: #ffffff;
}

.danger-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #dc3545;
  border: 1px solid #dc3545;
  color: #ffffff;
}

.info-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #5b93d3;
  border: 1px solid #5b93d3;
  color: #ffffff;
}

.indigo-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #6610f2;
  border: 1px solid #6610f2;
  color: #ffffff;
}

.purple-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #6f42c1;
  border: 1px solid #6f42c1;
  color: #ffffff;
}

.pink-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #e83e8c;
  border: 1px solid #e83e8c;
  color: #ffffff;
}

.teal-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #1caf9a;
  border: 1px solid #1caf9a;
  color: #ffffff;
}

.dark-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #343a40;
  border: 1px solid #343a40;
  color: #ffffff;
}

.orange-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #f27510;
  border: 1px solid #f27510;
  color: #ffffff;
}

.ant-collapse-header {
  text-transform: uppercase;
}

.ant-collapse .ant-collapse-item .ant-collapse-header {
  outline: none;
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
  background-color: #f2f2f2;
}
.ant-collapse .ant-collapse-item .ant-collapse-header span {
  color: #325db8;
  font-weight: 400;
}
.ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-extra {
  color: #ffffff !important;
}
.ant-collapse .ant-collapse-item .ant-collapse-content {
  border-top: none;
}
.ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  border-left: 1px solid #d9d9d9;
  border-right: 1px solid #d9d9d9;
  border-top: 1px solid #d9d9d9;
}
.ant-collapse .ant-collapse-item:last-child {
  border-radius: 0 !important;
}
.ant-collapse > .ant-collapse-item:last-child > .ant-collapse-header {
  border-radius: 0 !important;
}

.main-4-collapse-inactive > .ant-collapse-item > .ant-collapse-header {
  background-color: #fbfbfb !important;
  outline: none;
  border: 1px solid #d1d3d5 !important;
  color: white !important;
}
.main-4-collapse-inactive > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  color: #ffffff !important;
}
.main-4-collapse-inactive > .ant-collapse-item > .ant-collapse-header .ant-typography-ellipsis {
  font-size: 18px !important;
  color: #808284 !important;
}

.main-4-collapse-pending > .ant-collapse-item > .ant-collapse-header {
  background-color: #fbfbfb !important;
  outline: none;
  border: 1px solid #fbfbfb !important;
}
.main-4-collapse-pending > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  color: #ffffff !important;
}
.main-4-collapse-pending > .ant-collapse-item > .ant-collapse-header .ant-typography-ellipsis {
  font-size: 18px !important;
  color: white !important;
}

.main-4-collapse-complete > .ant-collapse-item > .ant-collapse-header {
  background-color: #fbfbfb !important;
  outline: none;
  border: 1px solid #fbfbfb;
}
.main-4-collapse-complete > .ant-collapse-item > .ant-collapse-header .ant-typography-ellipsis {
  font-size: 18px !important;
  color: white !important;
}
.main-4-collapse-complete > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  color: #ffffff !important;
}

.main-4-collapse-taskcards-new > .ant-collapse-item > .ant-collapse-header {
  background-color: #d4e2fc !important;
  outline: none;
  border: 1px solid #f2f2f2 !important;
}
.main-4-collapse-taskcards-new > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  color: #ffffff !important;
}
.main-4-collapse-taskcards-new > .ant-collapse-item > .ant-collapse-header .ant-typography-ellipsis {
  font-size: 18px !important;
  font-weight: bold;
  color: #325db8 !important;
}

.collapse-content-inactive .ant-collapse-content > .ant-collapse-content-box {
  background: white;
  padding: 0px;
}
.collapse-content-inactive .ant-collapse-content > .ant-collapse-content-box .ant-card {
  padding: 10px;
  color: #808284;
  font-size: 16px;
}
.collapse-content-inactive .ant-collapse-content > .ant-collapse-content-box .ant-card .ant-typography {
  color: #949599;
}

.collapse-content-complete .ant-collapse-content > .ant-collapse-content-box {
  background: white;
  padding: 0px;
}
.collapse-content-complete .ant-collapse-content > .ant-collapse-content-box .ant-card {
  padding: 10px;
  font-size: 16px;
}
.collapse-content-complete .ant-collapse-content > .ant-collapse-content-box .ant-card .ant-typography {
  color: #949599;
}

.collapse-content-pending .ant-collapse-content > .ant-collapse-content-box {
  background: white;
  padding: 0px;
}
.collapse-content-pending .ant-collapse-content > .ant-collapse-content-box .ant-card {
  padding: 10px;
  font-size: 16px;
}
.collapse-content-pending .ant-collapse-content > .ant-collapse-content-box .ant-card .ant-typography {
  color: #949599;
}

.main-5-collapse > .ant-collapse-item > .ant-collapse-header {
  background-color: #dee2e6;
  outline: none;
  background-color: #0e5729;
  border: 1px solid #0e5729;
  color: #ffffff;
}
.main-5-collapse > .ant-collapse-item > .ant-collapse-header span {
  color: #ffffff !important;
}
.main-5-collapse > .ant-collapse-item > .ant-collapse-header .ant-collapse-extra {
  color: #ffffff !important;
}

.ant-collapse-header {
  text-transform: uppercase;
}/*# sourceMappingURL=accordion.css.map */