@import "../variables/variables.scss";

//
.login-input {
    // border: solid 1px $login !important;
    width: 100% !important;
    font-size: 14px !important;
    // background: transparent !important;
    // color: #6d6e71;
    // line-height: 1.5;
    // box-sizing: border-box !important;
    // height: auto !important;
    // border-radius: 0 !important;
    // outline: none;
    // box-shadow: none!important;
    // padding: 12px;

    input {
        background: transparent !important;
    }

    select {
        background: transparent !important;
    }

    // .ant-input-affix-wrapper > input.ant-input {
    //     color: #6d6e71!important;
    // }
}

.login-select {
    padding-left: 0px !important;
}

// input[type=checkbox]
// {
//   /* Double-sized Checkboxes */
//   -ms-transform: scale(3); /* IE */
//   -moz-transform: scale(3); /* FF */
//   -webkit-transform: scale(3); /* Safari and Chrome */
//   -o-transform: scale(3); /* Opera */
//   transform: scale(3);
// //   padding: 50px;
// }

/* Might want to wrap a span around your checkbox text */
// .checkboxtext
// {
//   /* Checkbox text */
//   font-size: 200px;
// //   display: inline;
// }
// .ant-select:not(.ant-select-customize-input) .ant-select-selector {
//     background: transparent!important;
//     border: 0px solid;
//     box-shadow: none!important;

// }

// .login-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: #6d6e71;
//     opacity: 1; /* Firefox */
// }

// .login-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector:-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: #6d6e71;
// }

// .login-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector::-ms-input-placeholder { /* Microsoft Edge */
//     color: #6d6e71;
// }

// input[type="password"], .ant-select:not(.ant-select-customize-input) .ant-select-selector::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: #6d6e71;
//     opacity: 1; /* Firefox */
// }

// input[type="password"], .ant-select:not(.ant-select-customize-input) .ant-select-selector:-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: #6d6e71;
// }

// input[type="password"], .ant-select:not(.ant-select-customize-input) .ant-select-selector::-ms-input-placeholder { /* Microsoft Edge */
//     color: #6d6e71;
// }

// .ant-input-affix-wrapper > input.ant-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
//     color: #6d6e71;
//     opacity: 1; /* Firefox */
// }

// .ant-input-affix-wrapper > input.ant-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector:-ms-input-placeholder { /* Internet Explorer 10-11 */
//     color: #6d6e71;
// }

// .ant-input-affix-wrapper > input.ant-input, .ant-select:not(.ant-select-customize-input) .ant-select-selector::-ms-input-placeholder { /* Microsoft Edge */
//     color: #6d6e71;
// }

@supports (zoom: 2) {
    input[type="radio"],
    input[type="checkbox"] {
        zoom: 2;
    }
}
@supports not (zoom: 2) {
    input[type="radio"],
    input[type="checkbox"] {
        transform: scale(2);
        margin: 15px;
    }
}
label {
    /* fix vertical align issues */
    display: inline-block;
    vertical-align: top;
    margin-top: 10px;
}

@import "../variables/variables";

// .ant-input {
//   padding: 16px 12px 4px 11px;
// }

// .ant-select .ant-select-selector {
//   padding: 16px 10px 4px 11px;
// }

// .ant-select-single:not(.ant-select-customize-input) .ant-select-selector {
//   padding: 16px 10px 4px 11px;
//   height: 48px;
// }

// .ant-select-single .ant-select-selector .ant-select-selection-search {
//   top: 16px;
// }

.float-label {
    position: relative;
}

.label {
    font-weight: normal;
    position: absolute;
    pointer-events: none;
    left: 12px;
    top: 0px;
    transition: 0.2s ease all;
}

.as-placeholder {
    color: gray;
    z-index: 1;
}

.as-label {
    top: -18px;
    font-size: 12px !important;
    background: white;
    padding: 0 4px;
    margin-left: -4px;
    z-index: 1;
}

.as-label .text-danger {
    color: red;
}
