@import "../../variables/variables.scss";

.static-tooltip {
	min-width: 30px;
	min-height: 32px;
	padding: 6px 8px;
	color: #fff;
	text-align: left;
	text-decoration: none;
	word-wrap: break-word;
	background-color: #0e0e0e;
	border-radius: 2px;
	box-shadow: 0 3px 6px -4px #0000001f, 0 6px 16px #00000014,
		0 9px 28px 8px #0000000d;
}
