.public-layout.register-layout {
  height: 100vh;
  overflow: hidden auto;
  background: linear-gradient(to bottom, #ffffff 0%, #4169e1 100%);
}
.public-layout.register-layout .ant-layout-content {
  min-height: auto;
}
.public-layout.register-layout .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  border: none;
}
.public-layout.register-layout .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector::after,
.public-layout.register-layout .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-item,
.public-layout.register-layout .ant-select-single.ant-select-lg:not(.ant-select-customize-input) .ant-select-selector .ant-select-selection-placeholder {
  line-height: 60px;
}
.public-layout.register-layout .ant-row .ant-col {
  display: flex;
  align-items: center;
  flex-direction: column;
}
.public-layout.register-layout .ant-row .ant-col .ant-form-item .ant-row .ant-col {
  display: flex;
  align-items: start;
  flex-direction: column;
}
.public-layout.register-layout .ant-row .ant-col .ant-image {
  width: 250px;
  margin-top: 50px;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-image {
    width: 380px;
  }
}
.public-layout.register-layout .ant-row .ant-col .register-sub-title {
  width: 260px;
  text-align: center;
  font-weight: 500;
}
.public-layout.register-layout .ant-row .ant-col .ant-card {
  width: 550px;
  border-radius: 5px;
  margin-top: 60px;
  box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
  -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
  -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body {
  padding: 30px 15px;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body {
    padding: 30px 50px;
  }
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header {
  background-color: transparent;
  padding: 0px 0px 20px 0px;
  margin-bottom: 20px;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading {
  width: 100%;
  display: inherit;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left {
  width: 100%;
  display: inherit;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title {
  display: flex;
  gap: 10px;
  align-items: center;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-icon {
  border: 2px solid #58585a;
  border-radius: 100%;
  padding: 15px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-icon .anticon {
  font-size: 36px;
  color: #58585a !important;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-icon svg {
  font-size: 26px;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-icon svg {
    font-size: 36px;
  }
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-icon svg path {
  color: #58585a;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-text {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-text .sub-title {
  color: #58585a;
  text-transform: none;
  font-size: 16px;
  font-weight: 500;
  line-height: 1em;
  margin-left: 2px;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-text .sub-title {
    font-size: 16px;
    font-weight: 500;
  }
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-text .title {
  color: #4169e1;
  font-size: 26px;
  font-weight: normal;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-page-header .ant-page-header-heading .ant-page-header-heading-left .ant-page-header-heading-title .ant-page-header-text .title {
    font-size: 36px;
  }
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse {
  background: transparent;
  border: none;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item {
  border-bottom: none;
  margin-bottom: 20px;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header {
  font-size: 21px;
  padding: 0px;
  flex-direction: row-reverse;
  margin-bottom: 25px;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-expand-icon {
  width: 25%;
  text-align: right;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-expand-icon .ant-collapse-arrow {
  color: #ffffff;
  font-size: 22px;
  position: inherit;
  vertical-align: -10px;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text {
  width: 75%;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text .title {
  font-weight: 500;
  font-size: 17px;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text .title {
    font-size: 21px;
    font-weight: 400;
  }
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text .sub-title {
  font-size: 14px;
  font-weight: 500;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-header .ant-collapse-header-text .sub-title {
    font-size: 16px;
  }
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-content {
  background-color: transparent;
  border: none;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box {
  padding: 0px;
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .ant-form .form-title {
  font-size: 20px;
  font-weight: 400;
}
@media (min-width: 480px) {
  .public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .ant-collapse .ant-collapse-item .ant-collapse-content .ant-collapse-content-box .ant-form .form-title {
    font-size: 25px;
  }
}
.public-layout.register-layout .ant-row .ant-col .ant-card .ant-card-body .btn-complete-purchase {
  height: 48px;
  font-size: 20px;
  border-radius: 0;
}
.public-layout.register-layout .ant-layout-footer {
  background-color: transparent;
  margin-top: 50px;
}

.captchaDiv div:nth-child(1) {
  margin: auto;
  margin-top: 5px;
}

.register-alert .ant-alert-content {
  padding-top: 10px;
}

/* Media Query for Mobile Devices */
/* Media Query for low resolution  Tablets, Ipads */
/* Media Query for Tablets, Ipads and below  */
/* Media Query for Tablets Ipads portrait mode */
/* Media Query for Laptops and Desktops */
/* Media Query for Large screens *//*# sourceMappingURL=register-layout.css.map */