@import "../../variables/variables.scss";

.public-layout.register-layout {
    height: 100vh;
    overflow: hidden auto;
    background: linear-gradient(to bottom, #ffffff 0%, #4169e1 100%);

    .ant-layout-content {
        min-height: auto;
    }

    // & .ant-collapse .ant-collapse-item .ant-collapse-header {
    //     border: none;
    //     background-color: $white;
    // }

    &
        .ant-collapse
        .ant-collapse-item
        .ant-collapse-content
        .ant-collapse-content-box {
        border: none;
    }

    .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
        .ant-select-selector::after,
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
        .ant-select-selector
        .ant-select-selection-item,
    .ant-select-single.ant-select-lg:not(.ant-select-customize-input)
        .ant-select-selector
        .ant-select-selection-placeholder {
        line-height: 60px;
    }

    .ant-row {
        .ant-col {
            display: flex;
            align-items: center;
            flex-direction: column;

            .ant-form-item {
                .ant-row {
                    .ant-col {
                        display: flex;
                        align-items: start;
                        flex-direction: column;
                    }
                }
            }

            .ant-image {
                width: 250px;
                margin-top: 50px;
                @include atExtraSmall {
                    width: 380px;
                }
            }

            .register-sub-title {
                width: 260px;
                text-align: center;
                font-weight: 500;
            }

            .ant-card {
                width: 550px;
                border-radius: 5px;
                margin-top: 60px;
                box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
                -webkit-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);
                -moz-box-shadow: 0px 0px 20px -2px rgba(0, 0, 0, 0.6);

                .ant-card-body {
                    padding: 30px 15px;

                    @include atExtraSmall {
                        padding: 30px 50px;
                    }

                    .ant-page-header {
                        background-color: $pageHeaderPublicBackground;
                        padding: 0px 0px 20px 0px;
                        margin-bottom: 20px;

                        .ant-page-header-heading {
                            width: 100%;
                            display: inherit;

                            .ant-page-header-heading-left {
                                width: 100%;
                                display: inherit;

                                .ant-page-header-heading-title {
                                    display: flex;
                                    gap: 10px;
                                    align-items: center;

                                    .ant-page-header-icon {
                                        border: 2px solid
                                            $pageHeaderPublicIconBorderColor;
                                        border-radius: 100%;
                                        padding: 15px;
                                        display: flex;
                                        justify-content: center;
                                        align-items: center;

                                        .anticon {
                                            font-size: 36px;
                                            color: $pageHeaderPublicIconColor !important;
                                        }

                                        svg {
                                            font-size: 26px;
                                            @include atExtraSmall {
                                                font-size: 36px;
                                            }

                                            path {
                                                color: $pageHeaderPublicIconColor;
                                            }
                                        }
                                    }

                                    .ant-page-header-text {
                                        display: flex;
                                        flex-direction: column;
                                        align-items: flex-start;

                                        .sub-title {
                                            color: $pageHeaderPublicColorSubTitle;
                                            text-transform: none;
                                            font-size: 16px;
                                            font-weight: 500;
                                            line-height: 1em;
                                            margin-left: 2px;
                                            @include atExtraSmall {
                                                font-size: 16px;
                                                font-weight: 500;
                                            }
                                        }
                                        .title {
                                            color: $pageHeaderPublicColorTitle;
                                            font-size: 26px;
                                            font-weight: normal;
                                            @include atExtraSmall {
                                                font-size: 36px;
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .ant-collapse {
                        background: transparent;
                        border: none;

                        .ant-collapse-item {
                            border-bottom: none;
                            margin-bottom: 20px;

                            .ant-collapse-header {
                                font-size: 21px;
                                padding: 0px;
                                flex-direction: row-reverse;
                                margin-bottom: 25px;

                                .ant-collapse-expand-icon {
                                    width: 25%;
                                    text-align: right;

                                    .ant-collapse-arrow {
                                        color: $white;
                                        font-size: 22px;

                                        position: inherit;
                                        vertical-align: -10px;
                                    }
                                }

                                .ant-collapse-header-text {
                                    width: 75%;

                                    .title {
                                        font-weight: 500;
                                        font-size: 17px;

                                        @include atExtraSmall {
                                            font-size: 21px;
                                            font-weight: 400;
                                        }
                                    }
                                    .sub-title {
                                        font-size: 14px;
                                        font-weight: 500;
                                        @include atExtraSmall {
                                            font-size: 16px;
                                        }
                                    }
                                }
                            }

                            .ant-collapse-content {
                                background-color: transparent;
                                border: none;

                                .ant-collapse-content-box {
                                    padding: 0px;

                                    .ant-form .form-title {
                                        font-size: 20px;
                                        font-weight: 400;
                                        @include atExtraSmall {
                                            font-size: 25px;
                                        }
                                    }
                                }
                            }
                        }
                    }

                    .btn-complete-purchase {
                        height: 48px;
                        font-size: 20px;
                        border-radius: 0;
                    }
                }
            }
        }
    }

    .ant-layout-footer {
        background-color: transparent;
        margin-top: 50px;
    }
}

.captchaDiv div:nth-child(1) {
    margin: auto;
    margin-top: 5px;
}

.register-alert {
    .ant-alert-content {
        padding-top: 10px;
    }
}

/* Media Query for Mobile Devices */
@media (max-width: 480px) {
}

/* Media Query for low resolution  Tablets, Ipads */
@media (min-width: 481px) and (max-width: 767px) {
}

/* Media Query for Tablets, Ipads and below  */
@media (max-width: 768px) {
}

/* Media Query for Tablets Ipads portrait mode */
@media (min-width: 768px) and (max-width: 1024px) {
}

/* Media Query for Laptops and Desktops */
@media (min-width: 1025px) and (max-width: 1280px) {
}

/* Media Query for Large screens */
@media (min-width: 1281px) {
}
